# Marketing Budget Optimisation

## Market mix model to observe the actual impact of different marketing variables

## Problem Statement
ElecKart is an e-commerce firm based out of Ontario, Canada specialising in electronic products. Over the last one year, they had spent a significant amount of money on marketing. Occasionally, they had also offered big-ticket promotions (similar to the Big Billion Day). They are about to create a marketing budget for the next year, which includes spending on commercials, online campaigns, and pricing & promotion strategies. The CFO feels that the money spent over the last 12 months on marketing was not sufficiently impactful, and, that they can either cut on the budget or reallocate it optimally across marketing levers to improve the revenue response.

Imagine that you are a part of the marketing team working on budget optimisation. You need to develop a market mix model to observe the actual impact of different marketing variables over the last year. Using your understanding of the model, you have to recommend the optimal budget allocation for different marketing levers for the next year.

## 1. Data Reading And Understanding

In [1]:
import warnings
warnings.filterwarnings('ignore')

#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_profiling
import seaborn as sns
from datetime import datetime
pd.set_option('display.float_format', '{:0.3f}'.format)

# !pip install termcolor
import colorama
from colorama import Fore, Style  # maakes strings colored
from termcolor import colored
from termcolor import cprint

In [2]:
# Read the file
consumer = pd.read_csv('ConsumerElectronics.csv')

In [3]:
consumer.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3419300926147000.000,3419300926147000.000,6400,1,\N,\N,COD,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1420830839915200.000,1420830839915200.000,6900,1,\N,\N,COD,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2421912925714800.000,2421912925714800.000,1990,1,\N,\N,COD,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4416592101738400.000,4416592101738400.000,1690,1,\N,\N,Prepaid,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4419525153426400.000,4419525153426400.000,1618,1,\N,\N,Prepaid,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3

In [4]:
consumer.shape

(1648824, 20)

In [5]:
# Get info about the dataset
consumer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 251.6+ MB

In [6]:
# consumer.profile_report()

In [7]:
def missing_values(consumer):
    missing_number = consumer.isnull().sum().sort_values(ascending = False)
    missing_percent = (consumer.isnull().sum() / consumer.isnull().count()).sort_values(ascending = False)
    missing_values = pd.concat([missing_number, missing_percent], axis = 1, keys = ['Missing_Number', 'Missing_Percent'])
    return missing_values[missing_values['Missing_Number'] > 0]

def first_looking(consumer):
    print(colored("Shape:", attrs=['bold']), consumer.shape,'\n', 
          colored('*'*100, 'red', attrs = ['bold']),
          colored("\nInfo:\n", attrs = ['bold']), sep = '')
    print(consumer.info(), '\n', 
          colored('*'*100, 'red', attrs = ['bold']), sep = '')
    print(colored("Number of Uniques:\n", attrs = ['bold']), consumer.nunique(),'\n',
          colored('*'*100, 'red', attrs = ['bold']), sep = '')
    print(colored("Missing Values:\n", attrs=['bold']), missing_values(consumer),'\n', 
          colored('*'*100, 'red', attrs = ['bold']), sep = '')
    print(colored("All Columns:", attrs = ['bold']), list(consumer.columns),'\n', 
          colored('*'*100, 'red', attrs = ['bold']), sep = '')

    consumer.columns = consumer.columns.str.lower().str.replace('&', '_').str.replace(' ', '_')
    print(colored("Columns after rename:", attrs = ['bold']), list(consumer.columns),'\n',
          colored('*'*100, 'red', attrs = ['bold']), sep = '')  
    print(colored("Columns after rename:", attrs = ['bold']), list(consumer.columns),'\n',
          colored('*'*100, 'red', attrs = ['bold']), sep = '')
    print(colored("Descriptive Statistics \n", attrs = ['bold']), consumer.describe().round(2),'\n',
          colored('*'*100, 'red', attrs = ['bold']), sep = '') # Gives a statstical breakdown of the data.
    print(colored("Descriptive Statistics (Categorical Columns) \n", attrs = ['bold']), consumer.describe(include = object).T,'\n',
          colored('*'*100, 'red', attrs = ['bold']), sep = '') # Gives a statstical breakdown of the data.

def duplicate_values(consumer):
    print(colored("Duplicate check...", attrs = ['bold']), sep = '')
    print("There are", consumer.duplicated(subset = None, keep = 'first').sum(), "duplicated observations in the dataset.")
    duplicate_values = consumer.duplicated(subset = None, keep = 'first').sum()
    if duplicate_values > 0:
        consumer.drop_duplicates(keep = 'first', inplace = True)
        print(duplicate_values, colored(" Duplicates were dropped!"),'\n',
              colored('*'*100, 'red', attrs = ['bold']), sep = '')

In [8]:
# first_looking(consumer)
# duplicate_values(consumer)
# print(colored("Shape:", attrs = ['bold']), consumer.shape,'\n', colored('*'*100, 'red', attrs = ['bold']))

In [9]:
consumer.describe()

,Year,Month,order_id,order_item_id,units,sla,product_mrp,product_procurement_sla
count,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000
mean,2015.519,6.586,2842444674146328.500,13756277530325384.000,1.022,5.688,4108.309,5.403
std,0.500,3.623,1269134332596894.250,55945981798631008.000,0.254,2.983,8510.918,53.466
min,2015.000,1.000,76331515.000,108016495.000,1.000,0.000,0.000,-1.000
25%,2015.000,3.000,1602588503969575.000,1606725138262300.000,1.000,4.000,799.000,1.000
50%,2016.000,6.000,2611824528743350.000,2619185472741150.000,1.000,6.000,1599.000,2.000
75%,2016.000,10.000,3610613539366250.000,4397705931628400.000,1.000,7.000,3499.000,3.000
max,2016.000,12.000,5395076790260600.000,300037347717704000.000,50.000,1006.000,299999.000,1000.000

In [10]:
consumer.isnull().sum()

fsn_id                             0
order_date                         0
Year                               0
Month                              0
order_id                           0
order_item_id                      0
gmv                                0
units                              0
deliverybdays                      0
deliverycdays                      0
s1_fact.order_payment_type         0
sla                                0
cust_id                            0
pincode                            0
product_analytic_super_category    0
product_analytic_category          0
product_analytic_sub_category      0
product_analytic_vertical          0
product_mrp                        0
product_procurement_sla            0
dtype: int64

- There are no null values in the dataset!
- Columns like order_date, gmv, deliverybdays, deliverycdays, pincode have incorrect data types and need to be changed.

In [11]:
# Let's take a look at the statistical info of the dataset
consumer.describe(percentiles = [0.25, 0.5, 0.75, 0.90, 0.99, 0.999])

,Year,Month,order_id,order_item_id,units,sla,product_mrp,product_procurement_sla
count,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000
mean,2015.519,6.586,2842444674146328.500,13756277530325384.000,1.022,5.688,4108.309,5.403
std,0.500,3.623,1269134332596894.250,55945981798631008.000,0.254,2.983,8510.918,53.466
min,2015.000,1.000,76331515.000,108016495.000,1.000,0.000,0.000,-1.000
25%,2015.000,3.000,1602588503969575.000,1606725138262300.000,1.000,4.000,799.000,1.000
50%,2016.000,6.000,2611824528743350.000,2619185472741150.000,1.000,6.000,1599.000,2.000
75%,2016.000,10.000,3610613539366250.000,4397705931628400.000,1.000,7.000,3499.000,3.000
90%,2016.000,11.000,4520541993801910.000,4561094519921880.000,1.000,9.000,7120.000,5.000
99%,2016.000,12.000,4626530348261358.000,300037347714467776.000,2.000,13.000,45990.000,13.000
99.9%,2016.000,12.000,4639920775381027.000,300037347717600000.000,4.000,17.000,54950.000,1000.000
max,2016.000,12.000,5395076790260600.000,300037347717704000.000,50.000,1006.000,299999.000,1000.000

- All the numeric columns are almost normally distributed!
- We need to cap the SLAs to max and min values.
## 2. Data Cleaning And Preparation

In [12]:
consumer.columns

Index(['fsn_id', 'order_date', 'Year', 'Month', 'order_id', 'order_item_id',
       'gmv', 'units', 'deliverybdays', 'deliverycdays',
       's1_fact.order_payment_type', 'sla', 'cust_id', 'pincode',
       'product_analytic_super_category', 'product_analytic_category',
       'product_analytic_sub_category', 'product_analytic_vertical',
       'product_mrp', 'product_procurement_sla'],
      dtype='object')

In [13]:
consumer.replace(r'^\s+$', np.nan, regex=True, inplace = True)
consumer.replace('\\N', np.nan, inplace = True)

In [14]:
# let's check the null percentage for each column
round(100*(consumer.isnull().sum()/len(consumer.index)), 2)

fsn_id                             0.000
order_date                         0.000
Year                               0.000
Month                              0.000
order_id                           0.000
order_item_id                      0.000
gmv                                0.300
units                              0.000
deliverybdays                     79.630
deliverycdays                     79.630
s1_fact.order_payment_type         0.000
sla                                0.000
cust_id                            0.300
pincode                            0.300
product_analytic_super_category    0.000
product_analytic_category          0.000
product_analytic_sub_category      0.000
product_analytic_vertical          0.350
product_mrp                        0.000
product_procurement_sla            0.000
dtype: float64

In [15]:
#removing null valued GMV
consumer = consumer.loc[~(consumer.gmv.isnull())]

In [16]:
# let's check the null percentage for each column again
round(100*(consumer.isnull().sum()/len(consumer.index)), 2)

fsn_id                             0.000
order_date                         0.000
Year                               0.000
Month                              0.000
order_id                           0.000
order_item_id                      0.000
gmv                                0.000
units                              0.000
deliverybdays                     79.570
deliverycdays                     79.570
s1_fact.order_payment_type         0.000
sla                                0.000
cust_id                            0.000
pincode                            0.000
product_analytic_super_category    0.000
product_analytic_category          0.000
product_analytic_sub_category      0.000
product_analytic_vertical          0.350
product_mrp                        0.000
product_procurement_sla            0.000
dtype: float64

### 1. product_analytic_super_category, product_analytic_category, product_analytic_sub_category, product_analytic_vertical

In [17]:
# Let's drop the rows that have product analytic vertical as null.
consumer = consumer[~pd.isnull(consumer.product_analytic_vertical)]

In [18]:
# Let's now check the product_analytic_super_category unique values
consumer.product_analytic_super_category.unique()

array(['CE'], dtype=object)

There is only one value for this column. Hence, we can remove the column.

In [19]:
consumer.drop('product_analytic_super_category',1, inplace = True)

In [20]:
consumer.product_analytic_category.unique()

array(['CameraAccessory', 'GamingHardware', 'EntertainmentSmall',
       'GameCDDVD', 'Camera'], dtype=object)

In [21]:
consumer.product_analytic_sub_category.unique()

array(['CameraAccessory', 'GamingAccessory', 'Speaker', 'HomeAudio',
       'CameraStorage', 'AmplifierReceiver', 'AudioMP3Player', 'Game',
       'Camera', 'GamingConsole', 'HomeTheatre', 'AudioAccessory',
       'TVVideoSmall', 'GameMembershipCards'], dtype=object)

In [22]:
#The three product sub categories for the MMM are - camera accessory, home audio and gaming accessory.
#Removing the rows with other sub categories

consumer = consumer.loc[(consumer.product_analytic_sub_category=='CameraAccessory') |
                       (consumer.product_analytic_sub_category=='GamingAccessory')|
                       (consumer.product_analytic_sub_category=='HomeAudio')]

In [23]:
consumer.product_analytic_vertical.unique()

array(['CameraTripod', 'Lens', 'CameraBag', 'Flash', 'CameraBattery',
       'CameraBatteryCharger', 'GamePad', 'GamingAccessoryKit',
       'GamingHeadset', 'GamingMemoryCard', 'MotionController',
       'GamingMouse', 'GamingAdapter', 'TVOutCableAccessory', 'GamingGun',
       'JoystickGamingWheel', 'HomeAudioSpeaker', 'CameraRemoteControl',
       'Binoculars', 'Filter', 'GamingMousePad', 'Strap',
       'GamingKeyboard', 'Dock', 'SlingBox', 'GamingSpeaker',
       'CoolingPad', 'BoomBox', 'CameraBatteryGrip', 'CameraAccessory',
       'CameraFilmRolls', 'CameraMount', 'DockingStation', 'DJController',
       'ExtensionTube', 'FMRadio', 'HiFiSystem', 'KaraokePlayer',
       'Telescope', 'VoiceRecorder', 'GamingChargingStation',
       'CameraEyeCup', 'GameControlMount', 'SoundMixer', 'CameraLEDLight',
       'CameraMicrophone', 'FlashShoeAdapter', 'Softbox',
       'ReflectorUmbrella', 'Teleconverter', 'CameraHousing'],
      dtype=object)

### 2. gmv

In [24]:
#Let's convert the data type of GMV

consumer['gmv'] = pd.to_numeric(consumer['gmv'])

In [25]:
#Checking the minimum and maximum values of GMV
print(consumer.gmv.min())
print(consumer.gmv.max())

0.0
148050.0

gmv (Gross Merchendising Value - The cost price at which the item is sold multiplied by number of units) - Value at 0.0 seems odd.

Assumption : It could be because of any promotional offers, hence not deleting them

Looks like a duplicated order. Let's check for duplicates

In [26]:
consumer[consumer.duplicated(['fsn_id','order_date','order_id','order_item_id',
                              'gmv','cust_id','pincode',
                              'product_analytic_category','product_analytic_sub_category',
                             'product_analytic_vertical'])]
#consumer.loc[consumer.duplicated()]

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
76506,ACCE6YVWVHXXKCHW,2016-02-22 14:52:12,2016,2,3417290135521600.000,3417290135521600.000,350.000,1,7,8,Prepaid,8,-1.07035781735315E+018,8.45640885616433E+018,GamingHardware,GamingAccessory,JoystickGamingWheel,599,2
675305,ACCE7AV9TZHHAESC,2016-04-27 07:03:09,2016,4,2532857872757300.000,2532857872757300.000,4090.000,1,2,3,Prepaid,5,233114630667481984.000,-4071447699433639936.000,GamingHardware,GamingAccessory,GamePad,4990,2
944830,ACCDH7MFZJGRWJCW,2016-04-27 00:19:25,2016,4,3575842474884000.000,300037347717633984.000,287.000,1,5,6,Prepaid,5,8788006738130379776.000,2175163142166510080.000,GamingHardware,GamingAccessory,GamePad,410,1
944903,ACCDH7MFZJGRWJCW,2016-04-27 00:19:25,2016,4,3575842474884000.000,3575842474884000.000,287.000,1,NaN,NaN,Prepaid,7,8788006738130379776.000,2175163142166510080.000,GamingHardware,GamingAccessory,GamePad,410,1
969493,ACCE94WYZR6GFDFP,2016-04-27 00:33:53,2016,4,1569690464156100.000,1569690464156100.000,190.000,1,NaN,NaN,Prepaid,6,6615160307439460352.000,-7307608120567170048.000,CameraAccessory,CameraAccessory,Filter,380,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647201,VOREYV2HWZDUFZ9Y,2015-09-29 23:19:16,2015,9,4404040347013500.000,4404040347013500.000,5200.000,1,NaN,NaN,Prepaid,11,-8.7451731063629E+018,3.1115855848644E+018,EntertainmentSmall,HomeAudio,VoiceRecorder,10500,5
1647202,VOREYV2HWZDUFZ9Y,2015-09-30 22:08:55,2015,9,2404860211262700.000,2404860211262700.000,5200.000,1,NaN,NaN,COD,10,-8.90379286900787E+018,-5.60164751149697E+018,EntertainmentSmall,HomeAudio,VoiceRecorder,10500,5
1647203,VOREYV2HWZDUFZ9Y,2015-09-06 22:14:34,2015,9,3381987673542980.000,300037347712641984.000,4299.000,1,NaN,NaN,COD,7,6.09775807960118E+018,-5.15252222605545E+018,EntertainmentSmall,HomeAudio,VoiceRecorder,10500,5
1647204,VOREYV2HWZDUFZ9Y,2015-09-11 16:11:52,2015,9,2388231540197500.000,300037347714801984.000,4599.000,1,NaN,NaN,COD,7,2.83122075392855E+018,3.60782023838401E+018,EntertainmentSmall,HomeAudio,VoiceRecorder,10500,5
1647205,VOREYV2HWZDUFZ9Y,2015-09-22 10:25:36,2015,9,1397525368627000.000,1397525368627000.000,5399.000,1,NaN,NaN,COD,15,-4.4355960622754E+018,-2.10625335594417E+018,EntertainmentSmall,HomeAudio,VoiceRecorder,10500,5

In [27]:
len(consumer[consumer.duplicated(['fsn_id','order_date','order_id','order_item_id',
                              'gmv','cust_id','pincode',
                              'product_analytic_category','product_analytic_sub_category',
                             'product_analytic_vertical'])])

37355

In [28]:
#Removing duplicated values
consumer = consumer[~consumer.duplicated(['fsn_id','order_date','order_id','order_item_id',
                              'gmv','cust_id','pincode',
                              'product_analytic_category','product_analytic_sub_category',
                             'product_analytic_vertical'])]

In [29]:
consumer.loc[consumer.duplicated()]

Empty DataFrame
Columns: [fsn_id, order_date, Year, Month, order_id, order_item_id, gmv, units, deliverybdays, deliverycdays, s1_fact.order_payment_type, sla, cust_id, pincode, product_analytic_category, product_analytic_sub_category, product_analytic_vertical, product_mrp, product_procurement_sla]
Index: []

In [30]:
#Checking nulls in gmv value
consumer.gmv.isnull().sum()

0

In [31]:
consumer.shape

(527240, 19)

### 3. deliverybdays and deliverycdays

In [32]:
# The columns deliverybdays and deliverycdays are populated with \N, which is incorrect.
# Let's replace them with null.
print(consumer.deliverybdays.value_counts().head())
print(consumer.deliverycdays.value_counts().head())

4    23535
5    23058
3    18708
6    17915
2    10924
Name: deliverybdays, dtype: int64
5    21584
6    19605
4    18637
7    14137
3    13212
Name: deliverycdays, dtype: int64

In [33]:
print(consumer.deliverybdays.isnull().sum()/len(consumer))
print(consumer.deliverycdays.isnull().sum()/len(consumer))

0.7776837872695547
0.7776837872695547

In [34]:
# We can drop delivercdays and deliverybdays column as it has 79% null values.
consumer.drop(['deliverybdays', 'deliverycdays'],1, inplace = True)

### 4. order_date

In [35]:
# Befor dealing with null values, let's first correct the data type of order_date
consumer['order_date'] = pd.to_datetime(consumer['order_date'])

In [36]:
# We now need to check if the dates are not outside July 2015 and June 2016.
consumer.loc[(consumer.order_date < '2015-07-01') | (consumer.order_date >= '2016-07-01')]

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
1071934,ACCCX3SGRHSRGTHZ,2016-07-01 01:07:36,2016,7,1611380362751500.000,1611380362751500.000,9999.000,1,COD,6,-6062166819020010496.000,8011106654138590208.000,CameraAccessory,CameraAccessory,Lens,19500,2
1074944,ACCD6HEGVCDHXPNQ,2016-07-03 16:12:47,2016,7,2602425887006100.000,2602425887006100.000,399.000,1,COD,6,2872406203167170048.000,-7543985763413010432.000,GamingHardware,GamingAccessory,GamePad,449,-1
1077916,ACCDFZEJAXVJDGS7,2016-07-01 01:03:17,2016,7,4611922526101700.000,4611922526101700.000,3699.000,1,Prepaid,2,-2126839628533280000.000,-3973362991373910016.000,EntertainmentSmall,HomeAudio,HomeAudioSpeaker,5290,-1
1080123,ACCDHQ8N6DGBYGKZ,2016-07-02 07:04:29,2016,7,3612045698494600.000,3612045698494600.000,949.000,1,COD,1,1164936338609760000.000,2370358404467279872.000,CameraAccessory,CameraAccessory,CameraTripod,1499,2
1082641,ACCDPYBFTPE5PRGT,2016-07-02 06:49:00,2016,7,4609992565256700.000,4609992565256700.000,1050.000,1,Prepaid,1,-9069302869700119552.000,4705607051154690048.000,GamingHardware,GamingAccessory,GamingHeadset,1792,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343782,TESE8HQPC9KY7EDY,2016-07-05 12:05:06,2016,7,1640574293935700.000,1640574293935700.000,2100.000,1,COD,7,-2.65648840718291E+018,-6.95142635777575E+018,CameraAccessory,CameraAccessory,Telescope,3000,1
1348417,VORDSAYVZVHS2THQ,2016-07-01 18:58:15,2016,7,3633598266571100.000,3633598266571100.000,4274.000,1,COD,4,-3.62228587849267E+018,1.70212685331306E+018,EntertainmentSmall,HomeAudio,VoiceRecorder,6359,2
1376093,ACCDVZ83VBHCWFFA,2015-05-19 13:42:09,2015,5,146499482.000,188485029.000,3149.000,1,COD,6,-6.14850311678963E+018,-3.21775258155408E+018,EntertainmentSmall,HomeAudio,HomeAudioSpeaker,6990,4
1402659,ACCE8G8BFKZRU3MW,2015-06-26 17:33:10,2015,6,163411313.000,207714163.000,2800.000,1,COD,11,5.80459991910742E+018,3.91454170274896E+018,EntertainmentSmall,HomeAudio,HomeAudioSpeaker,3000,3
1429828,PPRD7SGNCSGSEWDN,2015-06-26 17:27:12,2015,6,163409423.000,207711935.000,350.000,1,COD,5,7.81569135848536E+018,5.8510313294317E+017,CameraAccessory,CameraAccessory,CameraAccessory,399,3

- There is 608 records that lie outside the range. Let's delete those rows.

In [37]:
consumer = consumer.loc[(consumer.order_date >= '2015-07-01')]
consumer = consumer.loc[(consumer.order_date < '2016-07-01')]

### 5. s1_fact.order_payment_type

In [38]:
#Changing the name of the column s1_fact.order_payment_type
consumer.rename(columns={'s1_fact.order_payment_type':'order_payment_type'}, inplace=True)

In [39]:
consumer.order_payment_type.value_counts()

COD        384484
Prepaid    142556
Name: order_payment_type, dtype: int64

Clearly COD is preferred more than Prepaid order payment type.

### 6. pincode, custid

In [40]:
#Converting the datatype
consumer['pincode'] = pd.to_numeric(consumer['pincode'])

In [41]:
#Let's see the values of pincode field
consumer.pincode.min()

-9.22183035419401e+18

In [42]:
consumer.pincode.isnull().sum()

0

In [43]:
# Before handling null values, there are negative values for pincode which we need to handle.
# Let's make all the negative values as positive.
consumer.pincode = consumer.pincode.abs()

In [44]:
# Let's now check the frequency of pincodes to decide whether we can impute the missing pincodes with the highest frequency one.
consumer.pincode.value_counts()

9031043207091489792.000    4163
977901032130400000.000     3464
8649648456016409600.000    2194
6513330541343979520.000    2046
7346497166693510144.000    2020
                           ...
6540960272762399744.000       1
6832281080269299712.000       1
3316478155595899904.000       1
2365466593809789952.000       1
559832405146460992.000        1
Name: pincode, Length: 6633, dtype: int64

In [45]:
# pincode and cust_id doesn't seem to be of any use

consumer.drop(['cust_id','pincode'], axis = 1, inplace = True)

### 7. product_mrp

In [46]:
consumer[(consumer.product_mrp == 0)].head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,order_payment_type,sla,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
12807,ACCDGXGZQUGHFYHT,2015-10-23 19:26:01,2015,10,1424634732111000.000,1424634732111000.000,3500.000,1,COD,5,GamingHardware,GamingAccessory,GamingAccessoryKit,0,-1
15031,ACCDHHZZGFBDPJRP,2015-10-20 21:27:29,2015,10,3422117911872300.000,3422117911872300.000,690.000,1,Prepaid,6,CameraAccessory,CameraAccessory,CameraBattery,0,-1
15032,ACCDHHZZGFBDPJRP,2015-10-28 23:49:41,2015,10,2429116502765100.000,2429116502765100.000,690.000,1,COD,8,CameraAccessory,CameraAccessory,CameraBattery,0,-1
15529,ACCDHTZ4CZCECAFF,2015-10-27 01:05:20,2015,10,1427429193266100.000,1427429193266100.000,1050.000,1,COD,7,CameraAccessory,CameraAccessory,CameraBattery,0,-1
16980,ACCDK94FSKCZBJCU,2015-10-28 18:36:07,2015,10,4428925467622000.000,4428925467622000.000,1099.000,1,Prepaid,6,EntertainmentSmall,HomeAudio,Dock,0,-1

In [47]:
len(consumer[(consumer.product_mrp == 0)])

3236

In [48]:
#Removing values with 0 MRP, since that is not possible at all
consumer = consumer.loc[~(consumer.product_mrp==0)]

In [49]:
consumer['gmv_per_unit'] = consumer.gmv/consumer.units

In [50]:
#Replacing the values of MRP with GMV per unit where the values of GMV/unit is greater than MRP
consumer['product_mrp'].loc[consumer.gmv_per_unit>consumer.product_mrp] = consumer['gmv_per_unit']

In [51]:
consumer.loc[consumer.gmv_per_unit>consumer.product_mrp]

Empty DataFrame
Columns: [fsn_id, order_date, Year, Month, order_id, order_item_id, gmv, units, order_payment_type, sla, product_analytic_category, product_analytic_sub_category, product_analytic_vertical, product_mrp, product_procurement_sla, gmv_per_unit]
Index: []

In [52]:
consumer.drop(['gmv_per_unit'],1,inplace=True)

### 8. sla and product_procurement_sla

In [53]:
consumer.shape

(523804, 15)

In [54]:
plt.figure(figsize=(20,8))

plt.subplot(1,2,1)
sns.boxplot(y=consumer.sla, palette=("cubehelix"))

plt.subplot(1,2,2)
sns.boxplot(y=consumer.product_procurement_sla, palette=("cubehelix"))

In [55]:
plt.figure(figsize=(20,8))

plt.subplot(1,2,1)
sns.distplot(consumer.sla)

plt.subplot(1,2,2)
sns.distplot(consumer.product_procurement_sla)

In [56]:
consumer.sla.describe(percentiles=[0.0,0.25,0.5,0.75,0.9,0.95,0.99,1.0])

count   523804.000
mean         5.885
std          2.697
min          0.000
0%           0.000
25%          4.000
50%          6.000
75%          7.000
90%          9.000
95%         11.000
99%         14.000
100%        60.000
max         60.000
Name: sla, dtype: float64

In [57]:
consumer.product_procurement_sla.describe(percentiles=[0.0,0.25,0.5,0.75,0.9,0.95,0.99,1.0])

count   523804.000
mean         2.560
std          1.715
min         -1.000
0%          -1.000
25%          2.000
50%          2.000
75%          3.000
90%          5.000
95%          5.000
99%          6.000
100%        15.000
max         15.000
Name: product_procurement_sla, dtype: float64

In [58]:
#Converting negative values to the positive
len(consumer.loc[consumer.product_procurement_sla<0])

10901

In [59]:
consumer.product_procurement_sla = abs(consumer.product_procurement_sla)

In [60]:
consumer.sla.std()

2.6969113975705605

In [61]:
#Taking three sigma values for outliers treatment
print(consumer.sla.mean()+(3*(consumer.sla.std())))
print(consumer.sla.mean()-(3*(consumer.sla.std())))

13.975410522025701
-2.206057863397664

In [62]:
consumer.product_procurement_sla.std()

1.6510180203178295

In [63]:
#Taking three sigma values for outliers treatment
print(consumer.product_procurement_sla.mean()+(3*(consumer.product_procurement_sla.std())))
print(consumer.product_procurement_sla.mean()-(3*(consumer.product_procurement_sla.std())))

7.554523312811053
-2.3515848090959235

In [64]:
# Capping the values at three sigma value
len(consumer[consumer.sla > 14])

3382

In [65]:
# Let's cap the SLAs.
consumer.loc[consumer.sla > 14,'sla'] = 14

In [66]:
# Similarly, the min value of product procurement sla is 0 and the max value is 15. However, three sigma value is 7. 
print(len(consumer[consumer.product_procurement_sla > 7]))

3813

In [67]:
# Let's cap the product procuremtn SLAs.
consumer.loc[consumer.product_procurement_sla > 7,'product_procurement_sla'] = 7

In [68]:
consumer.shape

(523804, 15)

In [69]:
consumer.loc[consumer.duplicated()]

Empty DataFrame
Columns: [fsn_id, order_date, Year, Month, order_id, order_item_id, gmv, units, order_payment_type, sla, product_analytic_category, product_analytic_sub_category, product_analytic_vertical, product_mrp, product_procurement_sla]
Index: []

### Duplicates removal

In [70]:
len(consumer[consumer.duplicated(['order_id','order_item_id'])])

12587

- Clearly, there can't be two orders with the same combination of order id and order item id that were ordered at the same timestamp.
- We can hence, drop the duplicates.

In [71]:
consumer = consumer[~consumer.duplicated(['order_id','order_item_id'])]

In [72]:
consumer.describe()

,Year,Month,order_id,order_item_id,gmv,units,sla,product_mrp,product_procurement_sla
count,511217.000,511217.000,511217.000,511217.000,511217.000,511217.000,511217.000,511217.000,511217.000
mean,2015.576,6.228,2835122101205655.000,9390790484550196.000,1290.685,1.024,5.862,2500.782,2.555
std,0.494,3.674,1290983206428331.750,43696556291619304.000,2438.475,0.239,2.621,4699.526,1.414
min,2015.000,1.000,162957597.000,207200079.000,0.000,1.000,0.000,79.000,0.000
25%,2015.000,3.000,1595735407225200.000,1598206083624100.000,299.000,1.000,4.000,766.000,2.000
50%,2016.000,6.000,2609704882795000.000,2613097725117400.000,550.000,1.000,6.000,1200.000,2.000
75%,2016.000,10.000,3615581804522700.000,4388978807078500.000,1500.000,1.000,7.000,2800.000,3.000
max,2016.000,12.000,4641664595370500.000,300037347717704000.000,148050.000,39.000,14.000,180000.000,7.000

In [73]:
plt.figure(figsize=(20,8))

plt.subplot(1,2,1)
sns.distplot(consumer.gmv)

plt.subplot(1,2,2)
sns.distplot(consumer.product_mrp)

plt.show()

### 3. Feature Engineering and KPI
- Pricing KPI
- Listed Price

In [74]:
#2. gmv (Gross Merchendising Value - The cost price at which the item is sold multiplied by number of units)

# Let's derive listing price, which is nothing but gmv/units

consumer['listing_price'] = round((consumer.gmv/consumer.units),2)

In [75]:
#Let's check if there are any rows with listing price > MRP

len(consumer.loc[consumer.listing_price>consumer.product_mrp])

0

### Discount and Promotion related KPI
#### Dicount

In [76]:
# Let's now calculate the discount %, which is nothing but (mrp-list price)/mrp
consumer['discount'] = round(((consumer.product_mrp - consumer.listing_price)/(consumer.product_mrp)),2)

In [77]:
consumer['discount'].describe()

count   511217.000
mean         0.452
std          0.245
min          0.000
25%          0.260
50%          0.460
75%          0.630
max          1.000
Name: discount, dtype: float64

#### Total Price

In [78]:
consumer['Order_Item_Value'] = consumer['product_mrp'] * consumer['units']

#### Mapping Week into the Data

In [79]:
# We can create the week number
consumer['week'] = np.where(consumer.Year == 2015, (consumer.order_date.dt.week - pd.to_datetime('2015-07-01').week + 1), consumer.order_date.dt.week+27)

# Dates like 2016-01-01 will be 53rd week as per ISO standard, hence the week value would be 53+27=80.
# We can make those values as week 27
consumer.week.values[(consumer.Year == 2016) & (consumer.week == 80)] = 27

### Product assortment and quality related KPI
#### Payment type

In [80]:
### Prepaid = '1' or COD = '0'
consumer['order_payment_type'] = np.where(consumer['order_payment_type'] == "Prepaid",1,0)

### Seasonality and Trend related KPI
#### Calendar

In [81]:
### Creating Calendar for the period
calendar = pd.DataFrame(pd.date_range('2015-07-01','2016-06-30').tolist(), columns = ['Date'])
### Mapping week in the calendar
calendar['week'] = calendar.Date.dt.week
### Jan 2016 should be week 54 ,not week 1.
calendar['week'] = np.where((calendar['week'] <= 26) & (calendar.Date.dt.year == 2016), calendar['week']+53, calendar['week'])

#### Special Sale

In [82]:
### Special Sales List

special_sales_list = ["2015-07-18","2015-07-19","2015-08-15","2015-08-16","2015-08-17","2015-08-28","2015-08-29",
                      "2015-08-30","2015-10-15","2015-10-16","2015-10-17","2015-11-07","2015-11-08","2015-11-09",
                      "2015-11-10","2015-11-11","2015-11-12","2015-11-13","2015-11-14","2015-12-25","2015-12-26",
                      "2015-12-27","2015-12-28","2015-12-29","2015-12-30","2015-12-31","2016-01-01","2016-01-02",
                      "2016-01-03","2016-01-20","2016-01-21","2016-01-22","2016-02-01","2016-02-02","2016-02-14",
                      "2016-02-15","2016-02-20","2016-02-21","2016-03-07","2016-03-08","2016-03-09","2016-05-25",
                      "2016-05-26","2016-05-27"]

ss_list = pd.DataFrame(special_sales_list,columns = ['Date'])
ss_list['Date'] = pd.to_datetime(ss_list['Date'])
ss_list['Special_sales'] = True

In [83]:
calendar = calendar.merge(ss_list, 'left')
calendar.fillna(False, inplace = True)

In [84]:
calendar['Special_sales'] = calendar['Special_sales'].astype(int)

In [85]:
calendar.head()

        Date  week  Special_sales
0 2015-07-01    27              0
1 2015-07-02    27              0
2 2015-07-03    27              0
3 2015-07-04    27              0
4 2015-07-05    27              0

### Payday

In [86]:
calendar['Payday'] = ((calendar['Date'].dt.day == 1) | (calendar['Date'].dt.day == 15)).astype(int)

#### Climate Data

In [87]:
### Ontario Climate data of year 2015-2016 
ontario_climate_2015 = pd.DataFrame(pd.read_csv('ONTARIO-2015.csv',encoding="ISO-8859-1",skiprows=24))
ontario_climate_2016 = pd.DataFrame(pd.read_csv('ONTARIO-2016.csv',encoding="ISO-8859-1",skiprows=24))

In [88]:
### Merge Calendar with dataset on week

ontario_climate = ontario_climate_2015.append(ontario_climate_2016)
ontario_climate = ontario_climate.reset_index()
ontario_climate.head()

,index,Date/Time,Year,Month,Day,Data Quality,Max Temp (Â°C),Max Temp Flag,Min Temp (Â°C),Min Temp Flag,...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,0,2015-01-01,2015,1,1,â,0.000,NaN,-8.500,NaN,...,0.000,NaN,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN
1,1,2015-01-02,2015,1,2,â,3.000,NaN,-3.000,NaN,...,0.000,NaN,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN
2,2,2015-01-03,2015,1,3,â,2.500,NaN,-4.000,NaN,...,0.000,NaN,24.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN
3,3,2015-01-04,2015,1,4,â,2.500,NaN,0.000,NaN,...,1.000,NaN,1.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN
4,4,2015-01-05,2015,1,5,â,-10.000,NaN,-13.500,NaN,...,3.000,NaN,3.000,NaN,1.000,NaN,NaN,NaN,NaN,NaN

In [89]:
### Checking for any nan values

round((ontario_climate.isnull().sum()/len(ontario_climate.index))*100,2)

index                         0.000
Date/Time                     0.000
Year                          0.000
Month                         0.000
Day                           0.000
Data Quality                 37.620
Max Temp (Â°C)               39.530
Max Temp Flag                98.080
Min Temp (Â°C)               44.050
Min Temp Flag                93.570
Mean Temp (Â°C)              44.050
Mean Temp Flag               93.570
Heat Deg Days (Â°C)          44.050
Heat Deg Days Flag           93.570
Cool Deg Days (Â°C)          44.050
Cool Deg Days Flag           93.570
Total Rain (mm)              37.620
Total Rain Flag              98.630
Total Snow (cm)              37.620
Total Snow Flag              97.810
Total Precip (mm)            37.620
Total Precip Flag            97.400
Snow on Grnd (cm)            37.620
Snow on Grnd Flag            98.910
Dir of Max Gust (10s deg)   100.000
Dir of Max Gust Flag        100.000
Spd of Max Gust (km/h)      100.000
Spd of Max Gust Flag        100.000
dtype: float64

In [90]:
### Dropping columns we do not require in the analysis.
ontario_climate.drop(['index','Data Quality','Max Temp Flag','Min Temp Flag','Mean Temp Flag',
                      'Heat Deg Days Flag','Cool Deg Days Flag','Total Rain Flag','Total Snow Flag',
                      'Total Precip Flag','Snow on Grnd Flag','Dir of Max Gust (10s deg)','Dir of Max Gust Flag',
                      'Spd of Max Gust (km/h)','Spd of Max Gust Flag'], axis = 1, inplace = True)

In [91]:
ontario_climate.columns = ['Date','Year','Month','Day','max_temp_C','min_temp_C','mean_temp_C','heat_deg_days',
                           'cool_deg_days','total_rain_mm','total_snow_cm','total_precip_mm','snow_on_grnd_cm']

In [92]:
ontario_climate['Date'] = ontario_climate['Date'].apply(pd.to_datetime)

In [93]:
### Keeping Climate data from July 15 to June 16

ontario_climate=ontario_climate[(ontario_climate['Month'] >= 7) & (ontario_climate['Year'] == 2015) 
                               |(ontario_climate['Month'] <= 6) & (ontario_climate['Year'] == 2016)]

In [94]:
### Mapping week in the Climate data
ontario_climate['week'] = ontario_climate.Date.dt.week

### Jan 2016 should be week 54 ,not week 1.
ontario_climate['week'] = np.where((ontario_climate['week'] <= 26) & (ontario_climate['Year'] == 2016), ontario_climate['week']+53, ontario_climate['week'])

ontario_climate = ontario_climate.reset_index()
ontario_climate.drop('index',axis=1,inplace=True)
ontario_climate.head()

,Date,Year,Month,Day,max_temp_C,min_temp_C,mean_temp_C,heat_deg_days,cool_deg_days,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm,week
0,2015-07-01,2015,7,1,24.500,17.000,20.800,0.000,2.800,0.000,0.000,0.000,0.000,27
1,2015-07-02,2015,7,2,24.000,14.000,19.000,0.000,1.000,0.000,0.000,0.000,0.000,27
2,2015-07-03,2015,7,3,25.000,10.000,17.500,0.500,0.000,0.000,0.000,0.000,0.000,27
3,2015-07-04,2015,7,4,26.000,11.000,18.500,0.000,0.500,0.000,0.000,0.000,0.000,27
4,2015-07-05,2015,7,5,28.000,14.000,21.000,0.000,3.000,0.000,0.000,0.000,0.000,27

In [95]:
### Checking for any nan values

round((ontario_climate.isnull().sum()/len(ontario_climate.index))*100,2)

Date               0.000
Year               0.000
Month              0.000
Day                0.000
max_temp_C        43.170
min_temp_C        47.810
mean_temp_C       47.810
heat_deg_days     47.810
cool_deg_days     47.810
total_rain_mm     41.260
total_snow_cm     41.260
total_precip_mm   41.260
snow_on_grnd_cm   41.260
week               0.000
dtype: float64

In [96]:
### Replacing Nan with mean value
ontario_climate['max_temp_C'] = ontario_climate['max_temp_C'].fillna(ontario_climate['max_temp_C'].mean())
ontario_climate['min_temp_C'] = ontario_climate['min_temp_C'].fillna(ontario_climate['min_temp_C'].mean())
ontario_climate['mean_temp_C'] = ontario_climate['mean_temp_C'].fillna(ontario_climate['mean_temp_C'].mean())
ontario_climate['heat_deg_days'] = ontario_climate['heat_deg_days'].fillna(ontario_climate['heat_deg_days'].mean())
ontario_climate['cool_deg_days'] = ontario_climate['cool_deg_days'].fillna(ontario_climate['cool_deg_days'].mean())
ontario_climate['total_rain_mm'] = ontario_climate['total_rain_mm'].fillna(ontario_climate['total_rain_mm'].mean())
ontario_climate['total_snow_cm'] = ontario_climate['total_snow_cm'].fillna(ontario_climate['total_snow_cm'].mean())
ontario_climate['total_precip_mm'] = ontario_climate['total_precip_mm'].fillna(ontario_climate['total_precip_mm'].mean())
ontario_climate['snow_on_grnd_cm'] = ontario_climate['snow_on_grnd_cm'].fillna(ontario_climate['snow_on_grnd_cm'].mean())

In [97]:
ontario_climate.head()

,Date,Year,Month,Day,max_temp_C,min_temp_C,mean_temp_C,heat_deg_days,cool_deg_days,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm,week
0,2015-07-01,2015,7,1,24.500,17.000,20.800,0.000,2.800,0.000,0.000,0.000,0.000,27
1,2015-07-02,2015,7,2,24.000,14.000,19.000,0.000,1.000,0.000,0.000,0.000,0.000,27
2,2015-07-03,2015,7,3,25.000,10.000,17.500,0.500,0.000,0.000,0.000,0.000,0.000,27
3,2015-07-04,2015,7,4,26.000,11.000,18.500,0.000,0.500,0.000,0.000,0.000,0.000,27
4,2015-07-05,2015,7,5,28.000,14.000,21.000,0.000,3.000,0.000,0.000,0.000,0.000,27

### Other KPI
Net Promoters Score & Stock_Index

In [98]:
nps_score = pd.read_excel("Media data and other information.xlsx", sheet_name='Monthly NPS Score', skiprows=1)

In [99]:
### Transforming NPS and Stock_index
nps_score = nps_score.T.reset_index(drop=True)
nps_score.columns = ['NPS','Stock_Index']
nps_score = nps_score.drop(nps_score.index[[0]]).reset_index(drop=True)

In [100]:
### Adding Month and Year
nps_score['Month'] = pd.Series([7,8,9,10,11,12,1,2,3,4,5,6])
nps_score['Year'] = pd.Series([2015,2015,2015,2015,2015,2015,2016,2016,2016,2016,2016,2016])

In [101]:
nps_score['NPS'] = nps_score['NPS'].astype(float)
nps_score['Stock_Index'] = nps_score['Stock_Index'].astype(float)

In [102]:
nps_score.head()

     NPS  Stock_Index  Month  Year
0 54.600     1177.000      7  2015
1 59.987     1206.000      8  2015
2 46.925     1101.000      9  2015
3 44.398     1210.000     10  2015
4 47.000     1233.000     11  2015

### Mapping KPI on Calendar

In [103]:
calendar = calendar.merge(ontario_climate, 'left')

In [104]:
calendar = calendar.merge(nps_score, 'left')

In [105]:
# We can create the week number
calendar['week'] = np.where(calendar.Date.dt.year == 2015, (calendar.Date.dt.week - pd.to_datetime('2015-07-01').week + 1), calendar.Date.dt.week+27)

# Dates like 2016-01-01 will be 53rd week as per ISO standard, hence the week value would be 53+27=80.
# We can make those values as week 27
calendar.week.values[(calendar.Date.dt.year == 2016) & (calendar.week == 80)] = 27

In [106]:
calendar.head()

,Date,week,Special_sales,Payday,Year,Month,Day,max_temp_C,min_temp_C,mean_temp_C,heat_deg_days,cool_deg_days,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm,NPS,Stock_Index
0,2015-07-01,1,0,1,2015,7,1,24.500,17.000,20.800,0.000,2.800,0.000,0.000,0.000,0.000,54.600,1177.000
1,2015-07-02,1,0,0,2015,7,2,24.000,14.000,19.000,0.000,1.000,0.000,0.000,0.000,0.000,54.600,1177.000
2,2015-07-03,1,0,0,2015,7,3,25.000,10.000,17.500,0.500,0.000,0.000,0.000,0.000,0.000,54.600,1177.000
3,2015-07-04,1,0,0,2015,7,4,26.000,11.000,18.500,0.000,0.500,0.000,0.000,0.000,0.000,54.600,1177.000
4,2015-07-05,1,0,0,2015,7,5,28.000,14.000,21.000,0.000,3.000,0.000,0.000,0.000,0.000,54.600,1177.000

In [107]:
calendar = pd.DataFrame(calendar.groupby('week').agg({'NPS':'mean','Stock_Index':'mean',
                                                             'Special_sales':'mean','Payday':'mean',
                                                             'max_temp_C':'mean','min_temp_C':'mean',
                                                             'mean_temp_C':'mean','heat_deg_days':'mean',
                                                             'cool_deg_days':'mean','total_rain_mm':'mean',
                                                             'total_snow_cm':'mean','total_precip_mm':'mean',
                                                             'snow_on_grnd_cm':'mean'}))

In [108]:
calendar.reset_index(inplace = True)

In [109]:
calendar.head()

,week,NPS,Stock_Index,Special_sales,Payday,max_temp_C,min_temp_C,mean_temp_C,heat_deg_days,cool_deg_days,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm
0,1,54.600,1177.000,0.000,0.200,25.500,13.200,19.360,0.100,1.460,0.000,0.000,0.000,0.000
1,2,54.600,1177.000,0.000,0.000,24.025,14.385,19.263,1.059,2.322,4.155,0.029,4.184,0.041
2,3,54.600,1177.000,0.286,0.143,27.383,16.314,21.906,0.816,4.722,1.569,0.029,1.598,0.041
3,4,54.600,1177.000,0.000,0.000,28.240,14.342,20.540,1.632,4.172,1.141,0.029,1.170,0.041
4,5,56.139,1185.286,0.000,0.143,29.811,16.242,23.092,0.816,5.908,4.341,0.029,4.370,0.041

### Advertisement Related KPI
Marketing

In [110]:
### Marketing Investment Data
marketing = pd.read_excel("Media data and other information.xlsx", sheet_name='Media Investment', skipfooter = 4, skiprows=2)

In [111]:
marketing.drop('Unnamed: 0', axis = 1, inplace = True)
marketing.replace(np.nan,0,inplace = True)
marketing['Date'] = pd.to_datetime(marketing[['Year', 'Month']].assign(DAY=1))
marketing.set_index('Date', inplace = True)
marketing

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
Date,,,,,,,,,,,,
2015-07-01,2015.000,7.000,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,0.000,0.000
2015-08-01,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-09-01,2015.000,9.000,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,0.000,0.000
2015-10-01,2015.000,10.000,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,0.000,0.000
2015-11-01,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-12-01,2015.000,12.000,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,0.000,0.000
2016-01-01,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-02-01,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000

In [112]:
### Renaming the columns

marketing.columns = ['Year','Month','Total_Investment','TV','Digital','Sponsorship','Content_marketing',
                     'Online_marketing','Affiliates','SEM','Radio','Other']

In [113]:
### convert to datetimeindex
marketing.index = pd.to_datetime(marketing.index)

In [114]:
marketing

,Year,Month,Total_Investment,TV,Digital,Sponsorship,Content_marketing,Online_marketing,Affiliates,SEM,Radio,Other
Date,,,,,,,,,,,,
2015-07-01,2015.000,7.000,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,0.000,0.000
2015-08-01,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-09-01,2015.000,9.000,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,0.000,0.000
2015-10-01,2015.000,10.000,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,0.000,0.000
2015-11-01,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-12-01,2015.000,12.000,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,0.000,0.000
2016-01-01,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-02-01,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000

In [115]:
### add new next month for correct resample
idx = marketing.index[-1] + pd.offsets.MonthBegin(1)
idx

Timestamp('2016-03-01 00:00:00')

In [116]:
marketing = marketing.append(marketing.iloc[[-1]].rename({marketing.index[-1]: idx}))
marketing

,Year,Month,Total_Investment,TV,Digital,Sponsorship,Content_marketing,Online_marketing,Affiliates,SEM,Radio,Other
Date,,,,,,,,,,,,
2015-07-01,2015.000,7.000,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,0.000,0.000
2015-08-01,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-09-01,2015.000,9.000,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,0.000,0.000
2015-10-01,2015.000,10.000,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,0.000,0.000
2015-11-01,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-12-01,2015.000,12.000,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,0.000,0.000
2016-01-01,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-02-01,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000
2016-03-01,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000

In [117]:
#Resampling the data on weekly frequency
marketing = marketing.resample('W').ffill().iloc[:-1]
marketing

,Year,Month,Total_Investment,TV,Digital,Sponsorship,Content_marketing,Online_marketing,Affiliates,SEM,Radio,Other
Date,,,,,,,,,,,,
2015-07-05,2015.000,7.000,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,0.000,0.000
2015-07-12,2015.000,7.000,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,0.000,0.000
2015-07-19,2015.000,7.000,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,0.000,0.000
2015-07-26,2015.000,7.000,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,0.000,0.000
2015-08-02,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-08-09,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-08-16,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-08-23,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-08-30,2015.000,8.000,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,0.000,0.000
2015-09-06,2015.000,9.000,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,0.000,0.000
2015-09-13,2015.000,9.000,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,0.000,0.000
2015-09-20,2015.000,9.000,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,0.000,0.000
2015-09-27,2015.000,9.000,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,0.000,0.000
2015-10-04,2015.000,10.000,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,0.000,0.000
2015-10-11,2015.000,10.000,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,0.000,0.000
2015-10-18,2015.000,10.000,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,0.000,0.000
2015-10-25,2015.000,10.000,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,0.000,0.000
2015-11-01,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-11-08,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-11-15,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-11-22,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-11-29,2015.000,11.000,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,0.000,0.000
2015-12-06,2015.000,12.000,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,0.000,0.000
2015-12-13,2015.000,12.000,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,0.000,0.000
2015-12-20,2015.000,12.000,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,0.000,0.000
2015-12-27,2015.000,12.000,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,0.000,0.000
2016-01-03,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-01-10,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-01-17,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-01-24,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-01-31,2016.000,1.000,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
2016-02-07,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000
2016-02-14,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000
2016-02-21,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000
2016-02-28,2016.000,2.000,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,0.000,0.000

In [118]:
### divide by size of months
marketing['Total_Investment'] /= marketing.resample('MS')['Total_Investment'].transform('size')
marketing['TV'] /= marketing.resample('MS')['TV'].transform('size')
marketing['Digital'] /= marketing.resample('MS')['Digital'].transform('size')
marketing['Sponsorship'] /= marketing.resample('MS')['Sponsorship'].transform('size')
marketing['Content_marketing'] /= marketing.resample('MS')['Content_marketing'].transform('size')
marketing['Online_marketing'] /= marketing.resample('MS')['Online_marketing'].transform('size')
marketing['Affiliates'] /= marketing.resample('MS')['Affiliates'].transform('size')
marketing['SEM'] /= marketing.resample('MS')['SEM'].transform('size')
marketing['Radio'] /= marketing.resample('MS')['Radio'].transform('size')
marketing['Other'] /= marketing.resample('MS')['Other'].transform('size')

In [119]:
marketing.head()

,Year,Month,Total_Investment,TV,Digital,Sponsorship,Content_marketing,Online_marketing,Affiliates,SEM,Radio,Other
Date,,,,,,,,,,,,
2015-07-05,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000
2015-07-12,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000
2015-07-19,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000
2015-07-26,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000
2015-08-02,2015.000,8.000,1.013,0.001,0.256,0.213,0.000,0.026,0.015,0.503,0.000,0.000

In [120]:
marketing.reset_index(inplace = True)

###  Mapping week in the marketing

marketing['Date'] = pd.to_datetime(marketing['Date'])
# We can create the week number
marketing['week'] = np.where(marketing.Date.dt.year == 2015, (marketing.Date.dt.week - pd.to_datetime('2015-07-01').week + 1), marketing.Date.dt.week+27)

marketing.week.values[(marketing.Date.dt.year == 2016) & (marketing.week == 80)] = 27
marketing.sort_values('week', inplace = True)

In [121]:
marketing.head()

,Date,Year,Month,Total_Investment,TV,Digital,Sponsorship,Content_marketing,Online_marketing,Affiliates,SEM,Radio,Other,week
0,2015-07-05,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000,1
1,2015-07-12,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000,2
2,2015-07-19,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000,3
3,2015-07-26,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000,4
4,2015-08-02,2015.000,8.000,1.013,0.001,0.256,0.213,0.000,0.026,0.015,0.503,0.000,0.000,5

### Adstock

In [122]:
def adstocked_advertising(adstock_rate=0.5, advertising = marketing):
    
    adstocked_advertising = []
    for i in range(len(advertising)):
        if i == 0: 
            adstocked_advertising.append(advertising.iloc[i])
        else:
            adstocked_advertising.append(advertising.iloc[i] + adstock_rate * advertising.iloc[i-1])            
    return adstocked_advertising

In [123]:
adstock = pd.DataFrame()

In [124]:
adstock['TV_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['TV'])

adstock['Digital_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['Digital'])

adstock['Sponsorship_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['Sponsorship'])

adstock['Content_marketing_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['Content_marketing'])

adstock['Online_marketing_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['Online_marketing'])

adstock['Affiliates_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['Affiliates'])

adstock['SEM_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['SEM'])

adstock['Radio_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['Radio'])

adstock['Other_ads'] = adstocked_advertising(adstock_rate=0.5, advertising = marketing['Other'])

In [125]:
adstock.head()

,TV_ads,Digital_ads,Sponsorship_ads,Content_marketing_ads,Online_marketing_ads,Affiliates_ads,SEM_ads,Radio_ads,Other_ads
0,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000
1,0.081,0.950,2.780,0.000,0.498,0.205,1.884,0.000,0.000
2,0.081,0.950,2.780,0.000,0.498,0.205,1.884,0.000,0.000
3,0.081,0.950,2.780,0.000,0.498,0.205,1.884,0.000,0.000
4,0.028,0.572,1.139,0.000,0.192,0.083,1.131,0.000,0.000

### Mapping marketing and adstock

In [126]:
marketing = pd.concat([marketing,adstock] ,axis=1)

In [127]:
marketing.head()

,Date,Year,Month,Total_Investment,TV,Digital,Sponsorship,Content_marketing,Online_marketing,Affiliates,...,week,TV_ads,Digital_ads,Sponsorship_ads,Content_marketing_ads,Online_marketing_ads,Affiliates_ads,SEM_ads,Radio_ads,Other_ads
0,2015-07-05,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,...,1,0.054,0.633,1.854,0.000,0.332,0.137,1.256,0.000,0.000
1,2015-07-12,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,...,2,0.081,0.950,2.780,0.000,0.498,0.205,1.884,0.000,0.000
2,2015-07-19,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,...,3,0.081,0.950,2.780,0.000,0.498,0.205,1.884,0.000,0.000
3,2015-07-26,2015.000,7.000,4.265,0.054,0.633,1.854,0.000,0.332,0.137,...,4,0.081,0.950,2.780,0.000,0.498,0.205,1.884,0.000,0.000
4,2015-08-02,2015.000,8.000,1.013,0.001,0.256,0.213,0.000,0.026,0.015,...,5,0.028,0.572,1.139,0.000,0.192,0.083,1.131,0.000,0.000

### Product premium-ness

In [128]:
# The premium-ness of the product depends on the MRP. Higher the MRP, more premium is the product.
# Let's check the percentiles of MRP in the dataset.

consumer.product_mrp.describe(percentiles=[0.25,0.5,0.75,0.8,0.9,0.95,0.99])

count   511217.000
mean      2500.782
std       4699.526
min         79.000
25%        766.000
50%       1200.000
75%       2800.000
80%       3150.000
90%       5399.000
95%       6990.000
99%      18999.000
max     180000.000
Name: product_mrp, dtype: float64

In [129]:
# Let's assume that products with MRP greater than 90 percentile to be premium products.
# Create a dataframe with mrp, number of units sold and gmv against each product vertical to analyse better.
prod_cat = pd.DataFrame(pd.pivot_table(consumer, values = ['units','product_mrp', 'gmv'], index = ['product_analytic_vertical'], 
               aggfunc={'units':np.sum, 'product_mrp':np.mean, 'gmv':np.sum}).to_records())

In [130]:
# Marking products with MRP greater than 90th percentile with 1 and rest with 0
prod_cat['premium_product'] = np.where((prod_cat.product_mrp>consumer.product_mrp.quantile(0.9)),1,0)

In [131]:
prod_cat.loc[prod_cat.premium_product==1]

   product_analytic_vertical         gmv  product_mrp  units  premium_product
10            CameraLEDLight   20215.000     6738.333      3                1
16              DJController 2335536.000    17692.871    191                1
39             KaraokePlayer   23500.000    12000.000      2                1
41          MotionController 4134009.000     5841.381   1057                1
43                  SlingBox   20495.000     7999.000      5                1
45                SoundMixer  638073.000    12271.377     69                1
48             Teleconverter   15299.000    20490.000      1                1

- Clearly, Teleconverter, SoundMixer, SlingBox, MotionController, KaraokePlayer, DJController are premium products. All other products are mass products.
- Let's visualise how the premium products contribute towards the GMV.

In [132]:
plt.figure(figsize=(15,5))
sns.barplot(x = prod_cat.product_analytic_vertical, y=prod_cat.gmv, hue=prod_cat.premium_product)
plt.xticks(rotation=90)
plt.show()

- We can clearly see that, maximum revenue is generated through mass producs like HomeAudioSpeaker, Lens, GamingPad, etc and not premium products that contibute quite less towards revenue.
- The company hence should focus more on mass products than premium products.

In [133]:
consumer = consumer.merge(prod_cat[['product_analytic_vertical', 'premium_product']] , left_on='product_analytic_vertical', 
            right_on='product_analytic_vertical',
                   how = 'inner')

In [134]:
sales = consumer.copy()

In [135]:
consumer.drop(['product_analytic_vertical'],1,inplace=True)

In [136]:
consumer.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,order_payment_type,sla,product_analytic_category,product_analytic_sub_category,product_mrp,product_procurement_sla,listing_price,discount,Order_Item_Value,week,premium_product
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3419300926147000.000,3419300926147000.000,6400.000,1,0,5,CameraAccessory,CameraAccessory,7190.000,0,6400.000,0.110,7190.000,16,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1420830839915200.000,1420830839915200.000,6900.000,1,0,7,CameraAccessory,CameraAccessory,7190.000,0,6900.000,0.040,7190.000,17,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2421912925714800.000,2421912925714800.000,1990.000,1,0,10,CameraAccessory,CameraAccessory,2099.000,3,1990.000,0.050,2099.000,17,0
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4416592101738400.000,4416592101738400.000,1690.000,1,1,4,CameraAccessory,CameraAccessory,2099.000,3,1690.000,0.190,2099.000,16,0
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4419525153426400.000,4419525153426400.000,1618.000,1,1,6,CameraAccessory,CameraAccessory,2099.000,3,1618.000,0.230,2099.000,16,0

# 4. Aggregation
## 1. Camera Sub Category

In [137]:
camera_df = consumer[consumer['product_analytic_sub_category'] == 'CameraAccessory']

 ### Removing outliers is important as
 - There may be some garbage value.
 - Bulk orders can skew the analysis

In [138]:
### Outlier Analysis
fig, axs = plt.subplots(1,3, figsize = (20,4))
plt1 = sns.boxplot(camera_df['gmv'], ax = axs[0])
plt2 = sns.boxplot(camera_df['units'], ax = axs[2])
plt4 = sns.boxplot(camera_df['product_mrp'], ax = axs[1])
plt.tight_layout()

In [139]:
### Treating outliers
### Outlier treatment for gmv & product_mrp
Q1 = camera_df.gmv.quantile(0.25)
Q3 = camera_df.gmv.quantile(0.75)
IQR = Q3 - Q1
camera_df = camera_df[(camera_df.gmv >= Q1 - 1.5*IQR) & (camera_df.gmv <= Q3 + 1.5*IQR)]
Q1 = camera_df.product_mrp.quantile(0.25)
Q3 = camera_df.product_mrp.quantile(0.75)
IQR = Q3 - Q1
camera_df = camera_df[(camera_df.product_mrp >= Q1 - 1.5*IQR) & (camera_df.product_mrp <= Q3 + 1.5*IQR)]

In [140]:
### Outlier Analysis
fig, axs = plt.subplots(1,3, figsize = (20,4))
plt1 = sns.boxplot(camera_df['gmv'], ax = axs[0])
plt2 = sns.boxplot(camera_df['units'], ax = axs[2])
plt4 = sns.boxplot(camera_df['product_mrp'], ax = axs[1])
plt.tight_layout()

In [141]:
camera_df.columns

Index(['fsn_id', 'order_date', 'Year', 'Month', 'order_id', 'order_item_id',
       'gmv', 'units', 'order_payment_type', 'sla',
       'product_analytic_category', 'product_analytic_sub_category',
       'product_mrp', 'product_procurement_sla', 'listing_price', 'discount',
       'Order_Item_Value', 'week', 'premium_product'],
      dtype='object')

In [142]:
camera_df.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,order_payment_type,sla,product_analytic_category,product_analytic_sub_category,product_mrp,product_procurement_sla,listing_price,discount,Order_Item_Value,week,premium_product
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4416592101738400.000,4416592101738400.000,1690.000,1,1,4,CameraAccessory,CameraAccessory,2099.000,3,1690.000,0.190,2099.000,16,0
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4419525153426400.000,4419525153426400.000,1618.000,1,1,6,CameraAccessory,CameraAccessory,2099.000,3,1618.000,0.230,2099.000,16,0
16,ACCD38YG3UDFDG6D,2015-10-06 00:45:01,2015,10,2409274855504000.000,2409274855504000.000,1495.000,1,0,5,CameraAccessory,CameraAccessory,2750.000,1,1495.000,0.460,2750.000,15,0
17,ACCD38YG3UDFDG6D,2015-10-12 23:38:46,2015,10,4415284052002400.000,4415284052002400.000,1440.000,1,0,5,CameraAccessory,CameraAccessory,2750.000,1,1440.000,0.480,2750.000,16,0
18,ACCD38YG3UDFDG6D,2015-10-14 10:09:46,2015,10,1416516698047300.000,1416516698047300.000,1440.000,1,0,4,CameraAccessory,CameraAccessory,2750.000,1,1440.000,0.480,2750.000,16,0

In [143]:
### Aggregating dataset on weekly level

ca_week = pd.DataFrame(camera_df.groupby('week').agg({'gmv':'sum','listing_price':'mean',
                                                             'product_mrp':'mean','discount':'mean',
                                                             'sla':'mean','product_procurement_sla':'mean',
                                                             'fsn_id':pd.Series.nunique,'order_item_id':pd.Series.nunique,
                                                             'order_id': pd.Series.nunique,
                                                             'order_payment_type':'sum',
                                                            'premium_product':'sum'}))

ca_week.reset_index( inplace = True)

In [144]:
ca_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,order_payment_type,premium_product
0,1,11151.000,428.885,1121.038,0.491,2.423,2.731,20,26,26,26,0
1,2,1228580.000,501.230,1013.379,0.448,7.253,2.578,540,2390,2345,753,0
2,3,1344416.000,512.763,1096.768,0.458,6.567,2.577,538,2570,2539,823,0
3,4,1346986.000,511.973,1086.319,0.445,6.611,2.613,529,2571,2534,781,0
4,5,913445.000,522.839,1085.847,0.443,6.533,2.614,442,1703,1675,470,0

In [145]:
### Sum of GMV / No of unique Orders

ca_week['AOV'] = ca_week['gmv']/ca_week['order_id']

In [146]:
ca_week['online_order_perc'] = ca_week['order_payment_type']*100/ca_week['order_item_id']

In [147]:
ca_week.week.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53], dtype=int64)

In [148]:
calendar.week.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53], dtype=int64)

In [149]:
ca_week['week'] = ca_week['week'].astype(int)
calendar['week'] = calendar['week'].astype(int)

In [150]:
ca_week = ca_week.merge(marketing, how = 'left', on = 'week')

In [151]:
ca_week = ca_week.merge(calendar, how = 'left', on = 'week')

In [152]:
ca_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,...,Payday,max_temp_C,min_temp_C,mean_temp_C,heat_deg_days,cool_deg_days,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm
0,1,11151.000,428.885,1121.038,0.491,2.423,2.731,20,26,26,...,0.200,25.500,13.200,19.360,0.100,1.460,0.000,0.000,0.000,0.000
1,2,1228580.000,501.230,1013.379,0.448,7.253,2.578,540,2390,2345,...,0.000,24.025,14.385,19.263,1.059,2.322,4.155,0.029,4.184,0.041
2,3,1344416.000,512.763,1096.768,0.458,6.567,2.577,538,2570,2539,...,0.143,27.383,16.314,21.906,0.816,4.722,1.569,0.029,1.598,0.041
3,4,1346986.000,511.973,1086.319,0.445,6.611,2.613,529,2571,2534,...,0.000,28.240,14.342,20.540,1.632,4.172,1.141,0.029,1.170,0.041
4,5,913445.000,522.839,1085.847,0.443,6.533,2.614,442,1703,1675,...,0.143,29.811,16.242,23.092,0.816,5.908,4.341,0.029,4.370,0.041

## Exploratory Data Analysis for Camera Accessory

In [153]:
ca_week_viz = ca_week.round(2)

### Univariate Analysis

Target Variable

In [154]:
sns.distplot(ca_week_viz['gmv'],kde=True)

In [155]:
plt.figure(figsize=(15, 5))
sns.barplot(ca_week_viz['week'],ca_week_viz['gmv'])

## Marketing KPI

In [156]:
ca_week_viz.columns

Index(['week', 'gmv', 'listing_price', 'product_mrp', 'discount', 'sla',
       'product_procurement_sla', 'fsn_id', 'order_item_id', 'order_id',
       'order_payment_type', 'premium_product', 'AOV', 'online_order_perc',
       'Date', 'Year', 'Month', 'Total_Investment', 'TV', 'Digital',
       'Sponsorship', 'Content_marketing', 'Online_marketing', 'Affiliates',
       'SEM', 'Radio', 'Other', 'TV_ads', 'Digital_ads', 'Sponsorship_ads',
       'Content_marketing_ads', 'Online_marketing_ads', 'Affiliates_ads',
       'SEM_ads', 'Radio_ads', 'Other_ads', 'NPS', 'Stock_Index',
       'Special_sales', 'Payday', 'max_temp_C', 'min_temp_C', 'mean_temp_C',
       'heat_deg_days', 'cool_deg_days', 'total_rain_mm', 'total_snow_cm',
       'total_precip_mm', 'snow_on_grnd_cm'],
      dtype='object')

In [157]:
fig, axs = plt.subplots(2,4,figsize=(16,8))

plt1 = sns.scatterplot(x = 'Total_Investment', y = 'gmv', data = ca_week_viz, ax = axs[0,0])

plt2 = sns.scatterplot(x = 'TV', y = 'gmv', data = ca_week_viz, ax = axs[0,1])

plt3 = sns.scatterplot(x = 'Digital', y = 'gmv', data = ca_week_viz, ax = axs[0,2])

plt4 = sns.scatterplot(x = 'Sponsorship', y = 'gmv', data = ca_week_viz, ax = axs[0,3])

plt5 = sns.scatterplot(x = 'Content_marketing', y = 'gmv', data = ca_week_viz, ax = axs[1,0])

plt6 = sns.scatterplot(x = 'Online_marketing', y = 'gmv', data = ca_week_viz, ax = axs[1,1])

plt7 = sns.scatterplot(x = 'Affiliates', y = 'gmv', data = ca_week_viz, ax = axs[1,2])

plt8 = sns.scatterplot(x = 'SEM', y = 'gmv', data = ca_week_viz, ax = axs[1,3])

plt.tight_layout()

### Bivariate Analysis

In [158]:
plt.figure(figsize=(20, 5))
sns.barplot(x= ca_week_viz['week'], y =ca_week_viz['gmv'], hue = ca_week_viz['Special_sales'], dodge = False)
plt.show()

### GMV and Dicount weekly

In [159]:
plt.figure(figsize=(20, 5))
sns.barplot(x= ca_week_viz['week'], y =ca_week_viz['gmv'], hue = pd.cut(ca_week_viz['discount'],3), dodge = False)
plt.show()

### Camera Accessory - Moving Average

In [160]:
### ca_week

### Moving Average for listing_price and discount

### ca_week = ca_week.sort_values('order_date')

ca_week[['MA2_LP','MA2_Discount']] = ca_week[['listing_price','discount']].rolling(window=2,min_periods=1).mean()
ca_week[['MA3_LP','MA3_Discount']] = ca_week[['listing_price','discount']].rolling(window=3,min_periods=1).mean()
ca_week[['MA4_LP','MA4_Discount']] = ca_week[['listing_price','discount']].rolling(window=4,min_periods=1).mean()

### Reference listed price Inflation 

ca_week['MA2_listed_price'] = (ca_week['listing_price']-ca_week['MA2_LP'])/ca_week['MA2_LP']
ca_week['MA3_listed_price'] = (ca_week['listing_price']-ca_week['MA3_LP'])/ca_week['MA3_LP']
ca_week['MA4_listed_price'] = (ca_week['listing_price']-ca_week['MA4_LP'])/ca_week['MA4_LP']

### Reference discount Inflation

ca_week['MA2_discount_offer'] = (ca_week['discount']-ca_week['MA2_Discount'])/ca_week['MA2_Discount']
ca_week['MA3_discount_offer'] = (ca_week['discount']-ca_week['MA3_Discount'])/ca_week['MA3_Discount']
ca_week['MA4_discount_offer'] = (ca_week['discount']-ca_week['MA4_Discount'])/ca_week['MA4_Discount']


ca_week.drop(['MA2_LP','MA3_LP','MA4_LP','MA2_Discount','MA3_Discount','MA4_Discount'], axis = 1, inplace = True)  
ca_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,...,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm,MA2_listed_price,MA3_listed_price,MA4_listed_price,MA2_discount_offer,MA3_discount_offer,MA4_discount_offer
0,1,11151.000,428.885,1121.038,0.491,2.423,2.731,20,26,26,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2,1228580.000,501.230,1013.379,0.448,7.253,2.578,540,2390,2345,...,4.155,0.029,4.184,0.041,0.078,0.078,0.078,-0.046,-0.046,-0.046
2,3,1344416.000,512.763,1096.768,0.458,6.567,2.577,538,2570,2539,...,1.569,0.029,1.598,0.041,0.011,0.066,0.066,0.011,-0.017,-0.017
3,4,1346986.000,511.973,1086.319,0.445,6.611,2.613,529,2571,2534,...,1.141,0.029,1.170,0.041,-0.001,0.007,0.048,-0.014,-0.012,-0.033
4,5,913445.000,522.839,1085.847,0.443,6.533,2.614,442,1703,1675,...,4.341,0.029,4.370,0.041,0.011,0.014,0.021,-0.002,-0.012,-0.012

### Camera Accessory - Data Profiling to see multicollinearity and variable distributions

In [161]:
# ### To identify multicollinearity between variable
plt.figure(figsize=(20,20))
sns.heatmap(ca_week.corr(),annot = True, cmap="GnBu")
plt.show()

In [162]:
### Highly Correlated Columns should be dropped

ca_week.drop(['TV', 'Digital', 'Sponsorship', 'Content_marketing','Online_marketing', 'Affiliates', 'SEM','Radio',
              'Other'], axis = 1, inplace = True)

In [163]:
plt.figure(figsize=(25,20))
sns.heatmap(ca_week.corr(), cmap="coolwarm", annot=True)
plt.show()

In [164]:
ca_week.drop(['Affiliates_ads','SEM_ads','Digital_ads','Radio_ads','Other_ads','mean_temp_C','min_temp_C',
              'order_id','order_item_id','total_precip_mm','Total_Investment','MA3_discount_offer',
               'MA3_listed_price','AOV','max_temp_C','MA2_listed_price','MA4_discount_offer'],1,inplace=True)

In [165]:
#Successfully removed more than 90% correlation

### Camera Accessory - Lag Variable Functions

In [166]:
### Lag of listed_price, discount_offer, NPS, Special_sales

ca_week['lag_1_listed_price'] = ca_week['listing_price'].shift(-1).fillna(0)
ca_week['lag_2_listed_price'] = ca_week['listing_price'].shift(-2).fillna(0)
ca_week['lag_3_listed_price'] = ca_week['listing_price'].shift(-3).fillna(0)

ca_week['lag_1_discount'] = ca_week['discount'].shift(-1).fillna(0)
ca_week['lag_2_discount'] = ca_week['discount'].shift(-2).fillna(0)
ca_week['lag_3_discount'] = ca_week['discount'].shift(-3).fillna(0)

ca_week['lag_1_Stock_Index'] = ca_week['Stock_Index'].shift(-1).fillna(0)
ca_week['lag_2_Stock_Index'] = ca_week['Stock_Index'].shift(-2).fillna(0)
ca_week['lag_3_Stock_Index'] = ca_week['Stock_Index'].shift(-3).fillna(0)

ca_week['lag_1_Special_sales'] = ca_week['Special_sales'].shift(-1).fillna(0)
ca_week['lag_2_Special_sales'] = ca_week['Special_sales'].shift(-2).fillna(0)
ca_week['lag_3_Special_sales'] = ca_week['Special_sales'].shift(-3).fillna(0)

ca_week['lag_1_Payday'] = ca_week['Payday'].shift(-1).fillna(0)
ca_week['lag_2_Payday'] = ca_week['Payday'].shift(-2).fillna(0)
ca_week['lag_3_Payday'] = ca_week['Payday'].shift(-3).fillna(0)

ca_week['lag_1_NPS'] = ca_week['NPS'].shift(-1).fillna(0)
ca_week['lag_2_NPS'] = ca_week['NPS'].shift(-2).fillna(0)
ca_week['lag_3_NPS'] = ca_week['NPS'].shift(-3).fillna(0)

In [167]:
ca_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_payment_type,premium_product,...,lag_3_Stock_Index,lag_1_Special_sales,lag_2_Special_sales,lag_3_Special_sales,lag_1_Payday,lag_2_Payday,lag_3_Payday,lag_1_NPS,lag_2_NPS,lag_3_NPS
0,1,11151.000,428.885,1121.038,0.491,2.423,2.731,20,26,0,...,1177.000,0.000,0.286,0.000,0.000,0.143,0.000,54.600,54.600,54.600
1,2,1228580.000,501.230,1013.379,0.448,7.253,2.578,540,753,0,...,1185.286,0.286,0.000,0.000,0.143,0.000,0.143,54.600,54.600,56.139
2,3,1344416.000,512.763,1096.768,0.458,6.567,2.577,538,823,0,...,1206.000,0.000,0.000,0.000,0.000,0.143,0.000,54.600,56.139,59.987
3,4,1346986.000,511.973,1086.319,0.445,6.611,2.613,529,781,0,...,1206.000,0.000,0.000,0.286,0.143,0.000,0.143,56.139,59.987,59.987
4,5,913445.000,522.839,1085.847,0.443,6.533,2.614,442,470,0,...,1206.000,0.000,0.286,0.429,0.000,0.143,0.000,59.987,59.987,59.987

# 2. Gaming Sub Category

In [168]:
gaming_accessory = consumer[consumer['product_analytic_sub_category'] == 'GamingAccessory']

In [169]:
###  Removing outliers is important as
###  1. There may be some garbage value.
###  2. Bulk orders can skew the analysis

In [170]:
### Outlier Analysis
fig, axs = plt.subplots(1,3, figsize = (20,4))
plt1 = sns.boxplot(gaming_accessory['gmv'], ax = axs[0])
plt2 = sns.boxplot(gaming_accessory['units'], ax = axs[2])
plt4 = sns.boxplot(gaming_accessory['product_mrp'], ax = axs[1])
plt.tight_layout()

In [171]:
### Treating outliers
### Outlier treatment for gmv & product_mrp
Q1 = gaming_accessory.gmv.quantile(0.25)
Q3 = gaming_accessory.gmv.quantile(0.75)
IQR = Q3 - Q1
gaming_accessory = gaming_accessory[(gaming_accessory.gmv >= Q1 - 1.5*IQR) & (gaming_accessory.gmv <= Q3 + 1.5*IQR)]
Q1 = gaming_accessory.product_mrp.quantile(0.25)
Q3 = gaming_accessory.product_mrp.quantile(0.75)
IQR = Q3 - Q1
gaming_accessory = gaming_accessory[(gaming_accessory.product_mrp >= Q1 - 1.5*IQR) & (gaming_accessory.product_mrp <= Q3 + 1.5*IQR)]

In [172]:
### Outlier Analysis
fig, axs = plt.subplots(1,3, figsize = (20,4))
plt1 = sns.boxplot(gaming_accessory['gmv'], ax = axs[0])
plt2 = sns.boxplot(gaming_accessory['units'], ax = axs[2])
plt4 = sns.boxplot(gaming_accessory['product_mrp'], ax = axs[1])
plt.tight_layout()

In [173]:
gaming_accessory.columns

Index(['fsn_id', 'order_date', 'Year', 'Month', 'order_id', 'order_item_id',
       'gmv', 'units', 'order_payment_type', 'sla',
       'product_analytic_category', 'product_analytic_sub_category',
       'product_mrp', 'product_procurement_sla', 'listing_price', 'discount',
       'Order_Item_Value', 'week', 'premium_product'],
      dtype='object')

In [174]:
### Aggregating dataset on weekly level

ga_week = pd.DataFrame(gaming_accessory.groupby('week').agg({'gmv':'sum','listing_price':'mean',
                                                             'product_mrp':'mean','discount':'mean',
                                                             'sla':'mean','product_procurement_sla':'mean',
                                                             'fsn_id':pd.Series.nunique,'order_item_id':pd.Series.nunique,
                                                             'order_id': pd.Series.nunique,
                                                             'order_payment_type':'sum'}))

ga_week.reset_index( inplace = True)

In [175]:
ga_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,order_payment_type
0,1,17466.000,681.080,898.440,0.220,2.960,2.560,19,25,25,25
1,2,1435300.000,528.929,963.907,0.414,5.170,3.013,211,2629,2494,689
2,3,1097388.359,449.826,759.691,0.429,5.115,2.514,216,2382,2356,534
3,4,1158166.000,559.134,889.058,0.352,5.179,2.338,232,2023,1990,425
4,5,742062.000,554.214,886.076,0.363,5.552,2.325,224,1303,1287,246

In [176]:
### Sum of GMV / No of unique Orders

ga_week['AOV'] = ga_week['gmv']/ga_week['order_id']

In [177]:
ga_week['online_order_perc'] = ga_week['order_payment_type']*100/ga_week['order_item_id']

In [178]:
ga_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,order_payment_type,AOV,online_order_perc
0,1,17466.000,681.080,898.440,0.220,2.960,2.560,19,25,25,25,698.640,100.000
1,2,1435300.000,528.929,963.907,0.414,5.170,3.013,211,2629,2494,689,575.501,26.208
2,3,1097388.359,449.826,759.691,0.429,5.115,2.514,216,2382,2356,534,465.785,22.418
3,4,1158166.000,559.134,889.058,0.352,5.179,2.338,232,2023,1990,425,581.993,21.008
4,5,742062.000,554.214,886.076,0.363,5.552,2.325,224,1303,1287,246,576.583,18.880

In [179]:
ga_week = ga_week.merge(marketing, how = 'left', on = 'week')

In [180]:
ga_week = ga_week.merge(calendar, how = 'left', on = 'week')

In [181]:
ga_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,...,Payday,max_temp_C,min_temp_C,mean_temp_C,heat_deg_days,cool_deg_days,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm
0,1,17466.000,681.080,898.440,0.220,2.960,2.560,19,25,25,...,0.200,25.500,13.200,19.360,0.100,1.460,0.000,0.000,0.000,0.000
1,2,1435300.000,528.929,963.907,0.414,5.170,3.013,211,2629,2494,...,0.000,24.025,14.385,19.263,1.059,2.322,4.155,0.029,4.184,0.041
2,3,1097388.359,449.826,759.691,0.429,5.115,2.514,216,2382,2356,...,0.143,27.383,16.314,21.906,0.816,4.722,1.569,0.029,1.598,0.041
3,4,1158166.000,559.134,889.058,0.352,5.179,2.338,232,2023,1990,...,0.000,28.240,14.342,20.540,1.632,4.172,1.141,0.029,1.170,0.041
4,5,742062.000,554.214,886.076,0.363,5.552,2.325,224,1303,1287,...,0.143,29.811,16.242,23.092,0.816,5.908,4.341,0.029,4.370,0.041

## Exploratory Data Analysis for Gaming Accessory

In [182]:
ga_week_viz = ga_week.round(2)

### Univariate Analysis

Target Variable

In [183]:
sns.distplot(ga_week_viz['gmv'],kde=True)

In [184]:
plt.figure(figsize=(15, 5))
sns.barplot(ga_week_viz['week'],ga_week_viz['gmv'])

### Marketing KPI

In [185]:
ga_week_viz.columns

Index(['week', 'gmv', 'listing_price', 'product_mrp', 'discount', 'sla',
       'product_procurement_sla', 'fsn_id', 'order_item_id', 'order_id',
       'order_payment_type', 'AOV', 'online_order_perc', 'Date', 'Year',
       'Month', 'Total_Investment', 'TV', 'Digital', 'Sponsorship',
       'Content_marketing', 'Online_marketing', 'Affiliates', 'SEM', 'Radio',
       'Other', 'TV_ads', 'Digital_ads', 'Sponsorship_ads',
       'Content_marketing_ads', 'Online_marketing_ads', 'Affiliates_ads',
       'SEM_ads', 'Radio_ads', 'Other_ads', 'NPS', 'Stock_Index',
       'Special_sales', 'Payday', 'max_temp_C', 'min_temp_C', 'mean_temp_C',
       'heat_deg_days', 'cool_deg_days', 'total_rain_mm', 'total_snow_cm',
       'total_precip_mm', 'snow_on_grnd_cm'],
      dtype='object')

In [186]:
fig, axs = plt.subplots(2,4,figsize=(16,8))

plt1 = sns.scatterplot(x = 'Total_Investment', y = 'gmv', data = ga_week_viz, ax = axs[0,0])

plt2 = sns.scatterplot(x = 'TV', y = 'gmv', data = ga_week_viz, ax = axs[0,1])

plt3 = sns.scatterplot(x = 'Digital', y = 'gmv', data = ga_week_viz, ax = axs[0,2])

plt4 = sns.scatterplot(x = 'Sponsorship', y = 'gmv', data = ga_week_viz, ax = axs[0,3])

plt5 = sns.scatterplot(x = 'Content_marketing', y = 'gmv', data = ga_week_viz, ax = axs[1,0])

plt6 = sns.scatterplot(x = 'Online_marketing', y = 'gmv', data = ga_week_viz, ax = axs[1,1])

plt7 = sns.scatterplot(x = 'Affiliates', y = 'gmv', data = ga_week_viz, ax = axs[1,2])

plt8 = sns.scatterplot(x = 'SEM', y = 'gmv', data = ga_week_viz, ax = axs[1,3])

plt.tight_layout()

### Bivariate Analysis
GMV and Holiday weekly

In [187]:
plt.figure(figsize=(20, 5))
sns.barplot(x= ga_week_viz['week'], y =ga_week_viz['gmv'], hue = ga_week_viz['Special_sales'], dodge = False)
plt.show()

### GMV and Holiday weekly

In [188]:
plt.figure(figsize=(20, 5))
sns.barplot(x= ga_week_viz['week'], y =ga_week_viz['gmv'], hue = pd.cut(ga_week_viz['discount'],3), dodge = False)
plt.show()

### Gaming Accessory - Moving Average

In [189]:
### ga_week

### Moving Average for listed_price and discount_offer

### ga_week = ga_week.sort_values('order_date')

ga_week[['MA2_LP','MA2_Discount']] = ga_week[['listing_price','discount']].rolling(window=2,min_periods=1).mean()
ga_week[['MA3_LP','MA3_Discount']] = ga_week[['listing_price','discount']].rolling(window=3,min_periods=1).mean()
ga_week[['MA4_LP','MA4_Discount']] = ga_week[['listing_price','discount']].rolling(window=4,min_periods=1).mean()

### Reference listed price Inflation 

ga_week['MA2_listed_price'] = (ga_week['listing_price']-ga_week['MA2_LP'])/ga_week['MA2_LP']
ga_week['MA3_listed_price'] = (ga_week['listing_price']-ga_week['MA3_LP'])/ga_week['MA3_LP']
ga_week['MA4_listed_price'] = (ga_week['listing_price']-ga_week['MA4_LP'])/ga_week['MA4_LP']

### Reference discount Inflation

ga_week['MA2_discount'] = (ga_week['discount']-ga_week['MA2_Discount'])/ga_week['MA2_Discount']
ga_week['MA3_discount'] = (ga_week['discount']-ga_week['MA3_Discount'])/ga_week['MA3_Discount']
ga_week['MA4_discount'] = (ga_week['discount']-ga_week['MA4_Discount'])/ga_week['MA4_Discount']


ga_week.drop(['MA2_LP','MA3_LP','MA4_LP','MA2_Discount','MA3_Discount','MA4_Discount'], axis = 1, inplace = True)  
ga_week

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,...,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm,MA2_listed_price,MA3_listed_price,MA4_listed_price,MA2_discount,MA3_discount,MA4_discount
0,1,17466.000,681.080,898.440,0.220,2.960,2.560,19,25,25,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2,1435300.000,528.929,963.907,0.414,5.170,3.013,211,2629,2494,...,4.155,0.029,4.184,0.041,-0.126,-0.126,-0.126,0.306,0.306,0.306
2,3,1097388.359,449.826,759.691,0.429,5.115,2.514,216,2382,2356,...,1.569,0.029,1.598,0.041,-0.081,-0.187,-0.187,0.018,0.211,0.211
3,4,1158166.000,559.134,889.058,0.352,5.179,2.338,232,2023,1990,...,1.141,0.029,1.170,0.041,0.108,0.091,0.008,-0.098,-0.115,-0.003
4,5,742062.000,554.214,886.076,0.363,5.552,2.325,224,1303,1287,...,4.341,0.029,4.370,0.041,-0.004,0.064,0.060,0.015,-0.047,-0.067
5,6,391.000,195.500,362.000,0.535,4.500,2.000,2,2,2,...,0.938,0.058,0.997,0.082,-0.478,-0.552,-0.555,0.191,0.283,0.274
6,7,1611.000,805.500,1172.000,0.255,4.500,2.000,2,2,2,...,2.764,0.088,2.852,0.124,0.609,0.554,0.524,-0.354,-0.337,-0.323
7,8,359.000,359.000,699.000,0.490,3.000,3.000,1,1,1,...,4.769,0.029,4.798,0.041,-0.383,-0.208,-0.250,0.315,0.148,0.193
8,9,2303.000,575.750,1035.750,0.450,6.000,3.250,4,4,4,...,1.846,0.146,1.992,0.206,0.232,-0.007,0.190,-0.043,0.130,0.040
9,10,1084240.500,464.002,746.372,0.380,5.080,2.507,306,1978,2270,...,9.026,0.029,9.055,0.041,-0.107,-0.005,-0.158,-0.084,-0.136,-0.034
10,11,1118085.000,519.637,833.842,0.371,5.517,2.437,314,1723,2105,...,1.424,0.058,1.482,0.082,0.057,-0.000,0.083,-0.012,-0.073,-0.122
11,12,1080541.251,514.867,846.017,0.381,5.861,2.474,310,2038,2050,...,1.422,0.088,1.509,0.124,-0.005,0.031,-0.007,0.013,0.010,-0.037
12,13,1169077.000,524.567,935.660,0.400,6.014,2.326,309,2169,2167,...,0.738,0.058,0.797,0.082,0.009,0.009,0.037,0.024,0.041,0.044
13,14,1079536.000,511.786,869.859,0.386,5.867,2.406,323,2071,2069,...,3.395,0.058,3.454,0.082,-0.012,-0.010,-0.011,-0.018,-0.008,0.003
14,15,960789.000,503.441,799.564,0.356,5.392,2.343,332,1861,1861,...,0.738,0.058,0.797,0.082,-0.008,-0.019,-0.020,-0.041,-0.066,-0.066
15,16,3949922.377,425.887,857.208,0.494,5.324,2.685,432,9052,9052,...,1.279,0.088,1.366,0.124,-0.083,-0.113,-0.133,0.163,0.199,0.207
16,17,1197307.000,520.846,877.526,0.389,6.103,2.396,347,2268,2267,...,1.338,0.058,1.397,0.082,0.100,0.077,0.062,-0.118,-0.057,-0.041
17,18,1544330.500,468.724,852.418,0.443,5.836,2.048,382,3214,3214,...,2.103,0.146,2.249,0.206,-0.053,-0.007,-0.023,0.065,0.003,0.054
18,19,1688852.709,430.062,799.664,0.465,5.230,2.278,387,3825,3828,...,1.967,0.058,2.025,0.082,-0.043,-0.091,-0.068,0.024,0.075,0.039
19,20,1481034.000,477.778,837.982,0.417,6.159,2.198,377,3056,3056,...,3.676,0.117,3.793,0.165,0.053,0.041,0.007,-0.055,-0.056,-0.027
20,21,1124109.000,514.084,878.827,0.408,5.800,2.328,357,2158,2157,...,2.993,1.516,4.509,1.124,0.037,0.085,0.088,-0.012,-0.052,-0.059
21,22,1535170.000,476.335,854.820,0.431,5.906,2.444,368,3168,3168,...,3.503,0.146,3.649,0.206,-0.038,-0.027,0.004,0.028,0.030,0.002
22,23,1628667.000,507.678,877.494,0.408,6.151,2.367,395,3158,3158,...,2.417,0.146,2.563,0.206,0.032,0.017,0.028,-0.028,-0.019,-0.020
23,24,1698717.250,469.348,894.701,0.457,5.749,2.508,389,3546,3544,...,1.193,0.088,1.281,0.124,-0.039,-0.031,-0.046,0.057,0.058,0.073
24,25,1362933.000,435.566,931.687,0.470,6.668,2.453,368,3064,3064,...,2.476,0.117,2.593,0.165,-0.037,-0.075,-0.078,0.014,0.057,0.065
25,26,2147340.000,457.553,1097.237,0.510,5.911,2.502,412,4593,4593,...,5.222,0.088,5.309,0.124,0.025,0.007,-0.021,0.040,0.064,0.105
26,27,1527510.000,457.369,1036.954,0.466,6.087,2.351,410,3278,3278,...,2.215,0.175,2.390,0.247,-0.000,0.016,0.005,-0.044,-0.033,-0.020
27,28,1665891.000,447.723,1015.418,0.469,6.025,2.360,430,3658,3658,...,4.848,1.117,5.965,0.165,-0.011,-0.014,-0.004,0.003,-0.026,-0.020
28,29,1640618.000,485.839,979.843,0.437,5.992,2.325,396,3319,3319,...,2.562,0.117,2.679,4.593,0.041,0.048,0.051,-0.035,-0.044,-0.071
29,30,2432792.041,535.982,1017.082,0.451,6.059,2.447,452,4449,4446,...,1.846,0.146,1.992,0.206,0.049,0.094,0.113,0.015,-0.004,-0.011
30,31,1480041.000,497.602,918.566,0.434,6.162,2.543,450,2925,2924,...,1.846,0.146,1.992,0.206,-0.037,-0.018,0.012,-0.019,-0.015,-0.031
31,32,1739754.500,478.737,903.732,0.446,5.977,2.478,460,3578,3577,...,2.622,0.088,2.709,0.124,-0.019,-0.050,-0.042,0.013,0.005,0.008
32,33,1644979.250,455.987,900.592,0.469,5.722,2.424,440,3546,3546,...,1.476,1.260,2.736,1.022,-0.024,-0.045,-0.073,0.025,0.043,0.042
33,34,2160427.576,427.197,879.704,0.498,5.536,2.586,457,4976,4975,...,1.476,0.117,1.593,0.736,-0.033,-0.059,-0.081,0.030,0.057,0.078
34,35,1989635.600,440.093,910.463,0.495,6.080,2.445,493,4445,4445,...,5.474,1.003,6.477,1.063,0.015,-0.002,-0.023,-0.002,0.016,0.039
35,36,2013127.752,449.224,910.211,0.488,5.885,2.372,449,4402,4403,...,1.536,1.088,2.624,1.266,0.010,0.024,0.014,-0.008,-0.012,0.001
36,37,2418902.145,499.839,1007.425,0.485,5.435,2.538,497,4756,4752,...,5.334,0.117,5.450,0.165,0.053,0.079,0.101,-0.003,-0.009,-0.014
37,38,1458031.500,506.395,904.742,0.409,5.875,2.523,501,2832,2831,...,0.655,0.029,0.684,0.041,0.007,0.044,0.069,-0.085,-0.112,-0.128
38,39,1379205.002,516.331,926.699,0.414,6.021,2.543,500,2637,2635,...,9.881,0.058,9.940,0.082,0.010,0.017,0.047,0.005,-0.051,-0.079
39,40,1455026.500,518.132,942.837,0.421,5.905,2.460,518,2728,2755,...,2.829,0.543,3.371,0.000,0.002,0.009,0.016,0.008,0.015,-0.027
40,41,1450803.252,534.628,950.357,0.411,6.153,2.484,517,2582,2644,...,2.450,0.402,2.852,0.124,0.016,0.022,0.030,-0.011,-0.009,-0.005
41,42,1237020.000,512.631,948.603,0.440,5.959,2.488,423,2326,2355,...,0.738,0.058,0.797,0.082,-0.021,-0.018,-0.015,0.033,0.038,0.044
42,43,845130.000,515.497,975.170,0.451,4.579,2.231,328,1579,1602,...,1.107,0.088,1.195,0.124,0.003,-0.010,-0.009,0.013,0.039,0.047
43,44,2540675.000,488.763,943.023,0.453,6.408,2.342,739,5052,4968,...,3.734,0.117,3.850,0.165,-0.027,-0.033,-0.047,0.002,0.011,0.032
44,45,1433023.000,499.654,913.994,0.432,5.855,2.322,564,2825,2825,...,2.281,0.058,2.340,0.082,0.011,-0.003,-0.009,-0.024,-0.030,-0.027
45,46,1659558.000,459.012,899.330,0.480,5.719,2.234,590,3565,3563,...,3.536,0.088,3.624,0.124,-0.042,-0.049,-0.065,0.052,0.055,0.057
46,47,1642812.250,458.200,917.375,0.485,5.737,2.091,565,3522,3523,...,1.931,0.146,2.077,0.206,-0.001,-0.030,-0.038,0.005,0.042,0.049
47,48,2377061.327,533.668,1086.192,0.482,5.353,1.895,577,4417,4417,...,0.683,0.029,0.713,0.041,0.076,0.103,0.094,-0.004,-0.001,0.025
48,49,1911911.915,518.187,1029.440,0.460,5.550,2.010,654,3637,3636,...,3.276,0.117,3.393,0.165,-0.015,0.029,0.053,-0.023,-0.033,-0.036
49,50,1632179.000,506.610,997.580,0.458,5.694,2.066,574,3166,3164,...,0.369,0.029,0.398,0.041,-0.011,-0.025,0.005,-0.001,-0.017,-0.027
50,51,1564994.000,512.785,980.674,0.447,5.905,2.092,583,2993,2991,...,1.736,0.088,1.824,0.124,0.006,0.001,-0.010,-0.013,-0.018,-0.032
51,52,1351971.250,524.184,959.317,0.421,5.853,2.056,525,2531,2531,...,1.195,0.058,1.254,0.082,0.011,0.019,0.017,-0.030,-0.048,-0.057
52,53,734419.250,525.945,933.611,0.408,5.090,2.074,412,1370,1369,...,1.792,0.102,1.894,0.144,0.002,0.010,0.017,-0.015,-0.040,-0.059

### Heatmap to see multicollinearity

In [190]:
plt.figure(figsize=(25,20))

### Heatmap
sns.heatmap(ga_week.corr(), cmap="coolwarm", annot=True)
plt.show()

In [191]:
ga_week.drop(['TV', 'Digital', 'Sponsorship', 'Content_marketing','Online_marketing', 'Affiliates', 'SEM','Radio',
              'Other','Affiliates_ads','SEM_ads','Digital_ads','Radio_ads','Other_ads','mean_temp_C','min_temp_C',
              'order_id','order_item_id','total_precip_mm','Total_Investment','MA3_discount',
              'MA3_listed_price','AOV','MA4_listed_price'], axis = 1, inplace = True)

In [192]:
ga_week.drop(['max_temp_C'], axis = 1, inplace = True)

In [193]:
###  Successfully removed more than 90% highly correlated variables from dataset.

### Gaming Accessory - Lag Variable Functions

In [194]:
### Lag of listed_price, discount_offer, NPS, Special_sales

ga_week['lag_1_listed_price'] = ga_week['listing_price'].shift(-1).fillna(0)
ga_week['lag_2_listed_price'] = ga_week['listing_price'].shift(-2).fillna(0)
ga_week['lag_3_listed_price'] = ga_week['listing_price'].shift(-3).fillna(0)

ga_week['lag_1_discount_offer'] = ga_week['discount'].shift(-1).fillna(0)
ga_week['lag_2_discount_offer'] = ga_week['discount'].shift(-2).fillna(0)
ga_week['lag_3_discount_offer'] = ga_week['discount'].shift(-3).fillna(0)

ga_week['lag_1_NPS'] = ga_week['NPS'].shift(-1).fillna(0)
ga_week['lag_2_NPS'] = ga_week['NPS'].shift(-2).fillna(0)
ga_week['lag_3_NPS'] = ga_week['NPS'].shift(-3).fillna(0)

ga_week['lag_1_Stock_Index'] = ga_week['Stock_Index'].shift(-1).fillna(0)
ga_week['lag_2_Stock_Index'] = ga_week['Stock_Index'].shift(-2).fillna(0)
ga_week['lag_3_Stock_Index'] = ga_week['Stock_Index'].shift(-3).fillna(0)

ga_week['lag_1_Special_sales'] = ga_week['Special_sales'].shift(-1).fillna(0)
ga_week['lag_2_Special_sales'] = ga_week['Special_sales'].shift(-2).fillna(0)
ga_week['lag_3_Special_sales'] = ga_week['Special_sales'].shift(-3).fillna(0)

ga_week['lag_1_Payday'] = ga_week['Payday'].shift(-1).fillna(0)
ga_week['lag_2_Payday'] = ga_week['Payday'].shift(-2).fillna(0)
ga_week['lag_3_Payday'] = ga_week['Payday'].shift(-3).fillna(0)

ga_week

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_payment_type,online_order_perc,...,lag_3_NPS,lag_1_Stock_Index,lag_2_Stock_Index,lag_3_Stock_Index,lag_1_Special_sales,lag_2_Special_sales,lag_3_Special_sales,lag_1_Payday,lag_2_Payday,lag_3_Payday
0,1,17466.000,681.080,898.440,0.220,2.960,2.560,19,25,100.000,...,54.600,1177.000,1177.000,1177.000,0.000,0.286,0.000,0.000,0.143,0.000
1,2,1435300.000,528.929,963.907,0.414,5.170,3.013,211,689,26.208,...,56.139,1177.000,1177.000,1185.286,0.286,0.000,0.000,0.143,0.000,0.143
2,3,1097388.359,449.826,759.691,0.429,5.115,2.514,216,534,22.418,...,59.987,1177.000,1185.286,1206.000,0.000,0.000,0.000,0.000,0.143,0.000
3,4,1158166.000,559.134,889.058,0.352,5.179,2.338,232,425,21.008,...,59.987,1185.286,1206.000,1206.000,0.000,0.000,0.286,0.143,0.000,0.143
4,5,742062.000,554.214,886.076,0.363,5.552,2.325,224,246,18.880,...,59.987,1206.000,1206.000,1206.000,0.000,0.286,0.143,0.000,0.143,0.000
5,6,391.000,195.500,362.000,0.535,4.500,2.000,2,0,0.000,...,59.987,1206.000,1206.000,1206.000,0.286,0.143,0.429,0.143,0.000,0.000
6,7,1611.000,805.500,1172.000,0.255,4.500,2.000,2,0,0.000,...,48.791,1206.000,1206.000,1116.000,0.143,0.429,0.000,0.000,0.000,0.143
7,8,359.000,359.000,699.000,0.490,3.000,3.000,1,0,0.000,...,46.925,1206.000,1116.000,1101.000,0.429,0.000,0.000,0.000,0.143,0.000
8,9,2303.000,575.750,1035.750,0.450,6.000,3.250,4,0,0.000,...,46.925,1116.000,1101.000,1101.000,0.000,0.000,0.000,0.143,0.000,0.143
9,10,1084240.500,464.002,746.372,0.380,5.080,2.507,306,442,22.346,...,46.925,1101.000,1101.000,1101.000,0.000,0.000,0.000,0.000,0.143,0.000
10,11,1118085.000,519.637,833.842,0.371,5.517,2.437,314,413,23.970,...,45.481,1101.000,1101.000,1163.286,0.000,0.000,0.000,0.143,0.000,0.143
11,12,1080541.251,514.867,846.017,0.381,5.861,2.474,310,426,20.903,...,44.398,1101.000,1163.286,1210.000,0.000,0.000,0.000,0.000,0.143,0.000
12,13,1169077.000,524.567,935.660,0.400,6.014,2.326,309,402,18.534,...,44.398,1163.286,1210.000,1210.000,0.000,0.000,0.429,0.143,0.000,0.143
13,14,1079536.000,511.786,869.859,0.386,5.867,2.406,323,325,15.693,...,44.398,1210.000,1210.000,1210.000,0.000,0.429,0.000,0.000,0.143,0.000
14,15,960789.000,503.441,799.564,0.356,5.392,2.343,332,299,16.067,...,44.770,1210.000,1210.000,1213.286,0.429,0.000,0.000,0.143,0.000,0.143
15,16,3949922.377,425.887,857.208,0.494,5.324,2.685,432,1695,18.725,...,47.000,1210.000,1213.286,1233.000,0.000,0.000,0.286,0.000,0.143,0.000
16,17,1197307.000,520.846,877.526,0.389,6.103,2.396,347,356,15.697,...,47.000,1213.286,1233.000,1233.000,0.000,0.286,0.857,0.143,0.000,0.143
17,18,1544330.500,468.724,852.418,0.443,5.836,2.048,382,479,14.904,...,47.000,1233.000,1233.000,1233.000,0.286,0.857,0.000,0.000,0.143,0.000
18,19,1688852.709,430.062,799.664,0.465,5.230,2.278,387,635,16.601,...,47.000,1233.000,1233.000,1233.000,0.857,0.000,0.000,0.143,0.000,0.000
19,20,1481034.000,477.778,837.982,0.417,6.159,2.198,377,499,16.329,...,45.971,1233.000,1233.000,1065.857,0.000,0.000,0.000,0.000,0.000,0.143
20,21,1124109.000,514.084,878.827,0.408,5.800,2.328,357,307,14.226,...,45.800,1233.000,1065.857,1038.000,0.000,0.000,0.000,0.000,0.143,0.000
21,22,1535170.000,476.335,854.820,0.431,5.906,2.444,368,551,17.393,...,45.800,1065.857,1038.000,1038.000,0.000,0.000,0.000,0.143,0.000,0.143
22,23,1628667.000,507.678,877.494,0.408,6.151,2.367,395,436,13.806,...,45.800,1038.000,1038.000,1038.000,0.000,0.000,0.429,0.000,0.143,0.000
23,24,1698717.250,469.348,894.701,0.457,5.749,2.508,389,575,16.215,...,46.354,1038.000,1038.000,1044.000,0.000,0.429,1.000,0.143,0.000,0.143
24,25,1362933.000,435.566,931.687,0.470,6.668,2.453,368,450,14.687,...,47.093,1038.000,1044.000,1052.000,0.429,1.000,0.000,0.000,0.143,0.000
25,26,2147340.000,457.553,1097.237,0.510,5.911,2.502,412,703,15.306,...,47.093,1044.000,1052.000,1052.000,1.000,0.000,0.000,0.143,0.000,0.143
26,27,1527510.000,457.369,1036.954,0.466,6.087,2.351,410,470,14.338,...,47.093,1052.000,1052.000,1052.000,0.000,0.000,0.429,0.000,0.143,0.000
27,28,1665891.000,447.723,1015.418,0.469,6.025,2.360,430,547,14.954,...,47.093,1052.000,1052.000,1052.000,0.000,0.429,0.000,0.143,0.000,0.000
28,29,1640618.000,485.839,979.843,0.437,5.992,2.325,396,511,15.396,...,50.327,1052.000,1052.000,1222.000,0.429,0.000,0.286,0.000,0.000,0.143
29,30,2432792.041,535.982,1017.082,0.451,6.059,2.447,452,789,17.734,...,50.327,1052.000,1222.000,1222.000,0.000,0.286,0.143,0.000,0.143,0.000
30,31,1480041.000,497.602,918.566,0.434,6.162,2.543,450,488,16.684,...,50.327,1222.000,1222.000,1222.000,0.286,0.143,0.429,0.143,0.000,0.143
31,32,1739754.500,478.737,903.732,0.446,5.977,2.478,460,589,16.462,...,50.327,1222.000,1222.000,1222.000,0.143,0.429,0.000,0.000,0.143,0.000
32,33,1644979.250,455.987,900.592,0.469,5.722,2.424,440,597,16.836,...,49.207,1222.000,1222.000,1044.571,0.429,0.000,0.000,0.143,0.000,0.143
33,34,2160427.576,427.197,879.704,0.498,5.536,2.586,457,835,16.781,...,49.021,1222.000,1044.571,1015.000,0.000,0.000,0.429,0.000,0.143,0.000
34,35,1989635.600,440.093,910.463,0.495,6.080,2.445,493,687,15.456,...,49.021,1044.571,1015.000,1015.000,0.000,0.429,0.000,0.143,0.000,0.143
35,36,2013127.752,449.224,910.211,0.488,5.885,2.372,449,701,15.925,...,49.021,1015.000,1015.000,1015.000,0.429,0.000,0.000,0.000,0.143,0.000
36,37,2418902.145,499.839,1007.425,0.485,5.435,2.538,497,985,20.711,...,50.224,1015.000,1015.000,1112.286,0.000,0.000,0.000,0.143,0.000,0.143
37,38,1458031.500,506.395,904.742,0.409,5.875,2.523,501,516,18.220,...,51.828,1015.000,1112.286,1242.000,0.000,0.000,0.000,0.000,0.143,0.000
38,39,1379205.002,516.331,926.699,0.414,6.021,2.543,500,754,28.593,...,51.828,1112.286,1242.000,1242.000,0.000,0.000,0.000,0.143,0.000,0.143
39,40,1455026.500,518.132,942.837,0.421,5.905,2.460,518,1531,56.122,...,51.828,1242.000,1242.000,1242.000,0.000,0.000,0.000,0.000,0.143,0.000
40,41,1450803.252,534.628,950.357,0.411,6.153,2.484,517,2501,96.863,...,51.182,1242.000,1242.000,1240.000,0.000,0.000,0.000,0.143,0.000,0.143
41,42,1237020.000,512.631,948.603,0.440,5.959,2.488,423,2280,98.022,...,47.307,1242.000,1240.000,1228.000,0.000,0.000,0.000,0.000,0.143,0.000
42,43,845130.000,515.497,975.170,0.451,4.579,2.231,328,1509,95.567,...,47.307,1240.000,1228.000,1228.000,0.000,0.000,0.000,0.143,0.000,0.143
43,44,2540675.000,488.763,943.023,0.453,6.408,2.342,739,2931,58.017,...,47.307,1228.000,1228.000,1228.000,0.000,0.000,0.000,0.000,0.143,0.000
44,45,1433023.000,499.654,913.994,0.432,5.855,2.322,564,476,16.850,...,47.307,1228.000,1228.000,1228.000,0.000,0.000,0.429,0.143,0.000,0.000
45,46,1659558.000,459.012,899.330,0.480,5.719,2.234,590,553,15.512,...,49.600,1228.000,1228.000,1203.714,0.000,0.429,0.000,0.000,0.000,0.143
46,47,1642812.250,458.200,917.375,0.485,5.737,2.091,565,555,15.758,...,50.517,1228.000,1203.714,1194.000,0.429,0.000,0.000,0.000,0.143,0.000
47,48,2377061.327,533.668,1086.192,0.482,5.353,1.895,577,850,19.244,...,50.517,1203.714,1194.000,1194.000,0.000,0.000,0.000,0.143,0.000,0.143
48,49,1911911.915,518.187,1029.440,0.460,5.550,2.010,654,644,17.707,...,50.517,1194.000,1194.000,1194.000,0.000,0.000,0.000,0.000,0.143,0.000
49,50,1632179.000,506.610,997.580,0.458,5.694,2.066,574,524,16.551,...,50.517,1194.000,1194.000,1194.000,0.000,0.000,0.000,0.143,0.000,0.000
50,51,1564994.000,512.785,980.674,0.447,5.905,2.092,583,517,17.274,...,0.000,1194.000,1194.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
51,52,1351971.250,524.184,959.317,0.421,5.853,2.056,525,427,16.871,...,0.000,1194.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
52,53,734419.250,525.945,933.611,0.408,5.090,2.074,412,210,15.328,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [195]:
ga_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_payment_type,online_order_perc,...,lag_3_NPS,lag_1_Stock_Index,lag_2_Stock_Index,lag_3_Stock_Index,lag_1_Special_sales,lag_2_Special_sales,lag_3_Special_sales,lag_1_Payday,lag_2_Payday,lag_3_Payday
0,1,17466.000,681.080,898.440,0.220,2.960,2.560,19,25,100.000,...,54.600,1177.000,1177.000,1177.000,0.000,0.286,0.000,0.000,0.143,0.000
1,2,1435300.000,528.929,963.907,0.414,5.170,3.013,211,689,26.208,...,56.139,1177.000,1177.000,1185.286,0.286,0.000,0.000,0.143,0.000,0.143
2,3,1097388.359,449.826,759.691,0.429,5.115,2.514,216,534,22.418,...,59.987,1177.000,1185.286,1206.000,0.000,0.000,0.000,0.000,0.143,0.000
3,4,1158166.000,559.134,889.058,0.352,5.179,2.338,232,425,21.008,...,59.987,1185.286,1206.000,1206.000,0.000,0.000,0.286,0.143,0.000,0.143
4,5,742062.000,554.214,886.076,0.363,5.552,2.325,224,246,18.880,...,59.987,1206.000,1206.000,1206.000,0.000,0.286,0.143,0.000,0.143,0.000

# 3. Home Audio Sub Category

In [196]:
home_audio = consumer[consumer['product_analytic_sub_category'] == 'HomeAudio']

In [197]:
###  Removing outliers is important as
###  1. There may be some garbage value.
###  2. Bulk orders can skew the analysis

In [198]:
### Outlier Analysis
fig, axs = plt.subplots(1,3, figsize = (20,4))
plt1 = sns.boxplot(home_audio['gmv'], ax = axs[0])
plt2 = sns.boxplot(home_audio['units'], ax = axs[2])
plt4 = sns.boxplot(home_audio['product_mrp'], ax = axs[1])
plt.tight_layout()

In [199]:
### Treating outliers
### Outlier treatment for gmv & product_mrp
Q1 = home_audio.gmv.quantile(0.25)
Q3 = home_audio.gmv.quantile(0.75)
IQR = Q3 - Q1
home_audio = home_audio[(home_audio.gmv >= Q1 - 1.5*IQR) & (home_audio.gmv <= Q3 + 1.5*IQR)]
Q1 = home_audio.product_mrp.quantile(0.25)
Q3 = home_audio.product_mrp.quantile(0.75)
IQR = Q3 - Q1
home_audio = home_audio[(home_audio.product_mrp >= Q1 - 1.5*IQR) & (home_audio.product_mrp <= Q3 + 1.5*IQR)]

In [200]:
### Outlier Analysis
fig, axs = plt.subplots(1,3, figsize = (20,4))
plt1 = sns.boxplot(home_audio['gmv'], ax = axs[0])
plt2 = sns.boxplot(home_audio['units'], ax = axs[2])
plt4 = sns.boxplot(home_audio['product_mrp'], ax = axs[1])
plt.tight_layout()

In [201]:
home_audio.columns

Index(['fsn_id', 'order_date', 'Year', 'Month', 'order_id', 'order_item_id',
       'gmv', 'units', 'order_payment_type', 'sla',
       'product_analytic_category', 'product_analytic_sub_category',
       'product_mrp', 'product_procurement_sla', 'listing_price', 'discount',
       'Order_Item_Value', 'week', 'premium_product'],
      dtype='object')

In [202]:
### Aggregating dataset on weekly level

ha_week = pd.DataFrame(home_audio.groupby('week').agg({'gmv':'sum','listing_price':'mean',
                                                             'product_mrp':'mean','discount':'mean',
                                                             'sla':'mean','product_procurement_sla':'mean',
                                                             'fsn_id':pd.Series.nunique,'order_item_id':pd.Series.nunique,
                                                             'order_id': pd.Series.nunique,
                                                             'order_payment_type':'sum'}))

ha_week.reset_index( inplace = True)

In [203]:
ha_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,order_payment_type
0,1,83742.000,2392.629,4369.057,0.397,2.943,3.486,19,35,35,34
1,2,3725167.133,1845.875,2971.504,0.326,7.454,2.751,202,2012,2011,464
2,3,4344419.000,1855.961,3121.880,0.339,7.116,2.666,227,2335,2330,527
3,4,3917329.000,1798.505,3008.836,0.328,7.168,2.762,227,2167,2160,450
4,5,2812144.000,1853.243,3094.751,0.328,7.297,2.663,200,1513,1511,327

In [204]:
### Sum of GMV / No of unique Orders

ha_week['AOV'] = ha_week['gmv']/ha_week['order_id']

In [205]:
ha_week['online_order_perc'] = ha_week['order_payment_type']*100/ha_week['order_item_id']

In [206]:
ha_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,order_payment_type,AOV,online_order_perc
0,1,83742.000,2392.629,4369.057,0.397,2.943,3.486,19,35,35,34,2392.629,97.143
1,2,3725167.133,1845.875,2971.504,0.326,7.454,2.751,202,2012,2011,464,1852.395,23.062
2,3,4344419.000,1855.961,3121.880,0.339,7.116,2.666,227,2335,2330,527,1864.558,22.570
3,4,3917329.000,1798.505,3008.836,0.328,7.168,2.762,227,2167,2160,450,1813.578,20.766
4,5,2812144.000,1853.243,3094.751,0.328,7.297,2.663,200,1513,1511,327,1861.114,21.613

In [207]:
ha_week = ha_week.merge(marketing, how = 'left', on = 'week')

In [208]:
ha_week = ha_week.merge(calendar, how = 'left', on = 'week')

In [209]:
ha_week.head()

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,...,Payday,max_temp_C,min_temp_C,mean_temp_C,heat_deg_days,cool_deg_days,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm
0,1,83742.000,2392.629,4369.057,0.397,2.943,3.486,19,35,35,...,0.200,25.500,13.200,19.360,0.100,1.460,0.000,0.000,0.000,0.000
1,2,3725167.133,1845.875,2971.504,0.326,7.454,2.751,202,2012,2011,...,0.000,24.025,14.385,19.263,1.059,2.322,4.155,0.029,4.184,0.041
2,3,4344419.000,1855.961,3121.880,0.339,7.116,2.666,227,2335,2330,...,0.143,27.383,16.314,21.906,0.816,4.722,1.569,0.029,1.598,0.041
3,4,3917329.000,1798.505,3008.836,0.328,7.168,2.762,227,2167,2160,...,0.000,28.240,14.342,20.540,1.632,4.172,1.141,0.029,1.170,0.041
4,5,2812144.000,1853.243,3094.751,0.328,7.297,2.663,200,1513,1511,...,0.143,29.811,16.242,23.092,0.816,5.908,4.341,0.029,4.370,0.041

## Exploratory Data Analysis of Home Audio

In [210]:
ha_week_viz = ha_week.round(2)

### Univariate Analysis
Target Variable

In [211]:
sns.distplot(ha_week_viz['gmv'],kde=True)

In [212]:
plt.figure(figsize=(15, 5))
sns.barplot(ha_week_viz['week'],ha_week_viz['gmv'])

## Marketing KPI

In [213]:
ha_week_viz.columns

Index(['week', 'gmv', 'listing_price', 'product_mrp', 'discount', 'sla',
       'product_procurement_sla', 'fsn_id', 'order_item_id', 'order_id',
       'order_payment_type', 'AOV', 'online_order_perc', 'Date', 'Year',
       'Month', 'Total_Investment', 'TV', 'Digital', 'Sponsorship',
       'Content_marketing', 'Online_marketing', 'Affiliates', 'SEM', 'Radio',
       'Other', 'TV_ads', 'Digital_ads', 'Sponsorship_ads',
       'Content_marketing_ads', 'Online_marketing_ads', 'Affiliates_ads',
       'SEM_ads', 'Radio_ads', 'Other_ads', 'NPS', 'Stock_Index',
       'Special_sales', 'Payday', 'max_temp_C', 'min_temp_C', 'mean_temp_C',
       'heat_deg_days', 'cool_deg_days', 'total_rain_mm', 'total_snow_cm',
       'total_precip_mm', 'snow_on_grnd_cm'],
      dtype='object')

In [214]:
fig, axs = plt.subplots(2,4,figsize=(16,8))

plt1 = sns.scatterplot(x = 'Total_Investment', y = 'gmv', data = ha_week_viz, ax = axs[0,0])

plt2 = sns.scatterplot(x = 'TV', y = 'gmv', data = ha_week_viz, ax = axs[0,1])

plt3 = sns.scatterplot(x = 'Digital', y = 'gmv', data = ha_week_viz, ax = axs[0,2])

plt4 = sns.scatterplot(x = 'Sponsorship', y = 'gmv', data = ha_week_viz, ax = axs[0,3])

plt5 = sns.scatterplot(x = 'Content_marketing', y = 'gmv', data = ha_week_viz, ax = axs[1,0])

plt6 = sns.scatterplot(x = 'Online_marketing', y = 'gmv', data = ha_week_viz, ax = axs[1,1])

plt7 = sns.scatterplot(x = 'Affiliates', y = 'gmv', data = ha_week_viz, ax = axs[1,2])

plt8 = sns.scatterplot(x = 'SEM', y = 'gmv', data = ha_week_viz, ax = axs[1,3])

plt.tight_layout()

### Bivariate Analysis
GMV and Holiday weekly

In [215]:
plt.figure(figsize=(20, 5))
sns.barplot(x= ha_week_viz['week'], y =ha_week_viz['gmv'], hue = ha_week_viz['Special_sales'], dodge = False)
plt.show()

### GMV and discount weekly

In [216]:
plt.figure(figsize=(20, 5))
sns.barplot(x= ha_week_viz['week'], y =ha_week_viz['gmv'], hue = pd.cut(ha_week_viz['discount'],3), dodge = False)
plt.show()

In [217]:
### ha_week

### Moving Average for listed_price and discount_offer

### ha_week = ha_week.sort_values('order_date')

ha_week[['MA2_LP','MA2_Discount']] = ha_week[['listing_price','discount']].rolling(window=2,min_periods=1).mean()
ha_week[['MA3_LP','MA3_Discount']] = ha_week[['listing_price','discount']].rolling(window=3,min_periods=1).mean()
ha_week[['MA4_LP','MA4_Discount']] = ha_week[['listing_price','discount']].rolling(window=4,min_periods=1).mean()

### Reference listed price Inflation 

ha_week['MA2_listed_price'] = (ha_week['listing_price']-ha_week['MA2_LP'])/ha_week['MA2_LP']
ha_week['MA3_listed_price'] = (ha_week['listing_price']-ha_week['MA3_LP'])/ha_week['MA3_LP']
ha_week['MA4_listed_price'] = (ha_week['listing_price']-ha_week['MA4_LP'])/ha_week['MA4_LP']

### Reference discount Inflation

ha_week['MA2_discount'] = (ha_week['discount']-ha_week['MA2_Discount'])/ha_week['MA2_Discount']
ha_week['MA3_discount'] = (ha_week['discount']-ha_week['MA3_Discount'])/ha_week['MA3_Discount']
ha_week['MA4_discount'] = (ha_week['discount']-ha_week['MA4_Discount'])/ha_week['MA4_Discount']


ha_week.drop(['MA2_LP','MA3_LP','MA4_LP','MA2_Discount','MA3_Discount','MA4_Discount'], axis = 1, inplace = True)  
ha_week

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_item_id,order_id,...,total_rain_mm,total_snow_cm,total_precip_mm,snow_on_grnd_cm,MA2_listed_price,MA3_listed_price,MA4_listed_price,MA2_discount,MA3_discount,MA4_discount
0,1,83742.000,2392.629,4369.057,0.397,2.943,3.486,19,35,35,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2,3725167.133,1845.875,2971.504,0.326,7.454,2.751,202,2012,2011,...,4.155,0.029,4.184,0.041,-0.129,-0.129,-0.129,-0.098,-0.098,-0.098
2,3,4344419.000,1855.961,3121.880,0.339,7.116,2.666,227,2335,2330,...,1.569,0.029,1.598,0.041,0.003,-0.086,-0.086,0.020,-0.042,-0.042
3,4,3917329.000,1798.505,3008.836,0.328,7.168,2.762,227,2167,2160,...,1.141,0.029,1.170,0.041,-0.016,-0.019,-0.089,-0.017,-0.010,-0.057
4,5,2812144.000,1853.243,3094.751,0.328,7.297,2.663,200,1513,1511,...,4.341,0.029,4.370,0.041,0.015,0.009,0.008,0.000,-0.011,-0.007
5,10,3091251.000,1768.029,3145.995,0.365,5.682,2.729,227,1581,1743,...,9.026,0.029,9.055,0.041,-0.024,-0.021,-0.028,0.053,0.072,0.072
6,11,3489765.000,1742.461,3146.834,0.367,5.603,2.821,241,1628,1997,...,1.424,0.058,1.482,0.082,-0.007,-0.025,-0.027,0.003,0.039,0.058
7,12,3091999.000,1708.961,2986.984,0.359,6.311,2.618,241,1798,1802,...,1.422,0.088,1.509,0.124,-0.010,-0.018,-0.033,-0.011,-0.013,0.012
8,13,3405749.000,1591.263,2734.433,0.349,6.399,2.589,248,2134,2134,...,0.738,0.058,0.797,0.082,-0.036,-0.053,-0.065,-0.014,-0.026,-0.031
9,14,3434064.000,1688.939,2875.302,0.343,6.448,2.444,247,2026,2026,...,3.395,0.058,3.454,0.082,0.030,0.016,0.004,-0.009,-0.021,-0.032
10,15,2914570.000,1643.229,2824.918,0.348,5.979,2.554,254,1766,1765,...,0.738,0.058,0.797,0.082,-0.014,0.001,-0.009,0.007,0.004,-0.005
11,16,13999216.000,1838.343,3517.360,0.421,5.986,2.310,316,7585,7583,...,1.279,0.088,1.366,0.124,0.056,0.067,0.087,0.095,0.136,0.153
12,17,4242332.000,1775.824,3036.936,0.359,6.661,2.587,276,2377,2377,...,1.338,0.058,1.397,0.082,-0.017,0.013,0.023,-0.080,-0.046,-0.024
13,18,5023090.000,1807.469,3055.024,0.356,6.567,2.476,278,2767,2767,...,2.103,0.146,2.249,0.206,0.009,0.000,0.023,-0.004,-0.060,-0.040
14,19,6743389.250,1967.388,4165.562,0.437,5.021,2.700,273,3416,3416,...,1.967,0.058,2.025,0.082,0.042,0.063,0.065,0.102,0.138,0.111
15,20,4599812.560,1874.096,3414.446,0.370,6.366,2.378,261,2447,2447,...,3.676,0.117,3.793,0.165,-0.024,-0.005,0.010,-0.083,-0.046,-0.028
16,21,3428301.500,1909.625,3412.219,0.357,5.898,2.550,237,1792,1792,...,2.993,1.516,4.509,1.124,0.009,-0.004,0.011,-0.018,-0.080,-0.060
17,22,3518352.500,1848.376,3111.280,0.340,6.426,2.440,242,1897,1897,...,3.503,0.146,3.649,0.206,-0.016,-0.015,-0.027,-0.025,-0.044,-0.096
18,23,3995708.000,1890.315,3657.410,0.395,5.774,2.739,264,2104,2105,...,2.417,0.146,2.563,0.206,0.011,0.004,0.005,0.076,0.086,0.082
19,24,6523147.991,2066.659,4550.481,0.463,4.961,2.907,259,3148,3147,...,1.193,0.088,1.281,0.124,0.045,0.068,0.072,0.079,0.159,0.191
20,25,4328292.000,1931.915,3701.782,0.391,5.925,2.747,275,2239,2239,...,2.476,0.117,2.593,0.165,-0.034,-0.016,-0.001,-0.084,-0.061,-0.016
21,26,8590006.250,2161.175,4354.819,0.448,4.833,2.074,270,3964,3963,...,5.222,0.088,5.309,0.124,0.056,0.053,0.074,0.068,0.032,0.056
22,27,4640222.000,1945.445,3309.431,0.355,5.939,2.438,301,2379,2379,...,2.215,0.175,2.390,0.247,-0.053,-0.033,-0.040,-0.115,-0.107,-0.142
23,28,6628003.000,2005.687,4258.100,0.448,4.823,2.824,277,3299,3299,...,4.848,1.117,5.965,0.165,0.015,-0.016,-0.003,0.115,0.074,0.091
24,29,4492835.000,1995.051,3855.076,0.392,5.490,2.790,279,2247,2247,...,2.562,0.117,2.679,4.593,-0.003,0.007,-0.016,-0.066,-0.016,-0.046
25,30,5589734.500,1936.375,3823.925,0.417,5.541,2.495,288,2872,2871,...,1.846,0.146,1.992,0.206,-0.015,-0.022,-0.017,0.031,-0.004,0.035
26,31,4200190.000,1923.480,3585.778,0.382,5.698,2.650,274,2175,2175,...,1.846,0.146,1.992,0.206,-0.003,-0.014,-0.021,-0.044,-0.038,-0.068
27,32,6627568.000,2028.846,4084.827,0.428,4.896,2.756,290,3262,3262,...,2.622,0.088,2.709,0.124,0.027,0.034,0.029,0.057,0.046,0.057
28,33,4334972.000,1890.278,3526.038,0.387,5.353,2.758,294,2288,2288,...,1.476,1.260,2.736,1.022,-0.035,-0.029,-0.028,-0.050,-0.030,-0.041
29,34,6429120.240,1984.334,3954.733,0.430,5.050,2.486,317,3225,3225,...,1.476,0.117,1.593,0.736,0.024,0.008,0.014,0.052,0.036,0.057
30,35,4687026.000,1901.378,3370.114,0.369,5.767,2.542,291,2460,2460,...,5.474,1.003,6.477,1.063,-0.021,-0.012,-0.026,-0.076,-0.066,-0.085
31,36,4181944.000,1807.470,3075.972,0.347,5.829,2.635,326,2307,2307,...,1.536,1.088,2.624,1.266,-0.025,-0.048,-0.047,-0.031,-0.092,-0.095
32,37,6120643.000,1978.735,3735.602,0.406,5.317,2.581,323,3088,3087,...,5.334,0.117,5.450,0.165,0.045,0.044,0.032,0.079,0.086,0.047
33,38,4232360.000,1898.342,3248.320,0.363,5.391,2.515,295,2224,2224,...,0.655,0.029,0.684,0.041,-0.021,0.002,0.001,-0.057,-0.025,-0.023
34,39,3263433.000,1718.251,2842.833,0.346,5.684,2.543,298,1886,1886,...,9.881,0.058,9.940,0.082,-0.050,-0.079,-0.072,-0.023,-0.068,-0.053
35,40,3303263.000,1829.333,3115.542,0.353,5.471,2.602,293,1791,1799,...,2.829,0.543,3.371,0.000,0.031,0.008,-0.014,0.009,-0.003,-0.039
36,41,3049300.000,1822.180,2969.263,0.338,5.924,2.646,310,1650,1659,...,2.450,0.402,2.852,0.124,-0.002,0.018,0.003,-0.021,-0.022,-0.034
37,42,2487778.000,1825.864,3045.855,0.351,5.732,2.515,296,1325,1349,...,0.738,0.058,0.797,0.082,0.001,0.000,0.015,0.019,0.010,0.011
38,43,1455916.000,2081.159,3377.964,0.341,4.676,2.665,203,696,698,...,1.107,0.088,1.195,0.124,0.065,0.090,0.101,-0.014,-0.007,-0.013
39,44,5414557.000,1814.789,3077.531,0.367,6.002,2.589,392,2948,2900,...,3.734,0.117,3.850,0.165,-0.068,-0.048,-0.038,0.037,0.041,0.052
40,45,3347099.000,1824.552,3095.354,0.366,5.190,2.484,296,1830,1829,...,2.281,0.058,2.340,0.082,0.003,-0.043,-0.033,-0.002,0.022,0.027
41,46,3287068.000,1815.414,3043.434,0.354,5.201,2.583,297,1807,1807,...,3.536,0.088,3.624,0.124,-0.003,-0.002,-0.036,-0.017,-0.024,-0.009
42,47,3037070.000,1852.072,3024.177,0.339,5.016,2.612,281,1638,1638,...,1.931,0.146,2.077,0.206,0.010,0.012,0.014,-0.021,-0.040,-0.049
43,48,3605013.000,2054.769,3500.731,0.367,4.275,2.482,261,1748,1748,...,0.683,0.029,0.713,0.041,0.052,0.077,0.089,0.039,0.038,0.029
44,49,3176031.000,1982.043,3281.868,0.340,5.052,2.655,300,1601,1600,...,3.276,0.117,3.393,0.165,-0.018,0.010,0.029,-0.038,-0.025,-0.028
45,50,3214266.000,1869.164,3014.099,0.317,5.694,2.567,272,1713,1713,...,0.369,0.029,0.398,0.041,-0.029,-0.051,-0.036,-0.035,-0.072,-0.070
46,51,3220357.000,1947.993,3051.255,0.304,5.078,2.683,281,1642,1642,...,1.736,0.088,1.824,0.124,0.021,0.008,-0.008,-0.020,-0.050,-0.083
47,52,2807030.000,2074.617,3348.654,0.318,4.288,2.540,226,1351,1351,...,1.195,0.058,1.254,0.082,0.031,0.056,0.054,0.022,0.016,-0.006
48,53,1471519.000,2060.569,3288.135,0.311,4.025,2.551,179,713,713,...,1.792,0.102,1.894,0.144,-0.003,0.016,0.036,-0.010,0.001,-0.003

### Heatmap to see multicollinearity

In [218]:
plt.figure(figsize=(25,20))

### Heatmap
sns.heatmap(ha_week.corr(), cmap="coolwarm", annot=True)
plt.show()

In [219]:
ha_week.drop(['TV', 'Digital', 'Sponsorship', 'Content_marketing','Online_marketing', 'Affiliates', 'SEM','Radio',
              'Other','Affiliates_ads','SEM_ads','Digital_ads','Radio_ads','Other_ads','mean_temp_C','min_temp_C',
              'order_id','order_item_id','total_precip_mm','Total_Investment','MA3_discount',
              'MA3_listed_price','AOV'], axis = 1, inplace = True)

In [220]:
ha_week.drop(['max_temp_C'], axis = 1, inplace = True)

In [221]:
###  Successfully removed more than 90% highly correlated variables from dataset.

### Home Audio - Lag Variable Functions

In [222]:
### Lag of listed_price, discount_offer, NPS, Special_sales

ha_week['lag_1_listed_price'] = ha_week['listing_price'].shift(-1).fillna(0)
ha_week['lag_2_listed_price'] = ha_week['listing_price'].shift(-2).fillna(0)
ha_week['lag_3_listed_price'] = ha_week['listing_price'].shift(-3).fillna(0)

ha_week['lag_1_discount_offer'] = ha_week['discount'].shift(-1).fillna(0)
ha_week['lag_2_discount_offer'] = ha_week['discount'].shift(-2).fillna(0)
ha_week['lag_3_discount_offer'] = ha_week['discount'].shift(-3).fillna(0)

ha_week['lag_1_NPS'] = ha_week['NPS'].shift(-1).fillna(0)
ha_week['lag_2_NPS'] = ha_week['NPS'].shift(-2).fillna(0)
ha_week['lag_3_NPS'] = ha_week['NPS'].shift(-3).fillna(0)

ha_week['lag_1_Stock_Index'] = ha_week['Stock_Index'].shift(-1).fillna(0)
ha_week['lag_2_Stock_Index'] = ha_week['Stock_Index'].shift(-2).fillna(0)
ha_week['lag_3_Stock_Index'] = ha_week['Stock_Index'].shift(-3).fillna(0)

ha_week['lag_1_Special_sales'] = ha_week['Special_sales'].shift(-1).fillna(0)
ha_week['lag_2_Special_sales'] = ha_week['Special_sales'].shift(-2).fillna(0)
ha_week['lag_3_Special_sales'] = ha_week['Special_sales'].shift(-3).fillna(0)

ha_week['lag_1_Payday'] = ha_week['Payday'].shift(-1).fillna(0)
ha_week['lag_2_Payday'] = ha_week['Payday'].shift(-2).fillna(0)
ha_week['lag_3_Payday'] = ha_week['Payday'].shift(-3).fillna(0)
ha_week

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_payment_type,online_order_perc,...,lag_3_NPS,lag_1_Stock_Index,lag_2_Stock_Index,lag_3_Stock_Index,lag_1_Special_sales,lag_2_Special_sales,lag_3_Special_sales,lag_1_Payday,lag_2_Payday,lag_3_Payday
0,1,83742.000,2392.629,4369.057,0.397,2.943,3.486,19,34,97.143,...,54.600,1177.000,1177.000,1177.000,0.000,0.286,0.000,0.000,0.143,0.000
1,2,3725167.133,1845.875,2971.504,0.326,7.454,2.751,202,464,23.062,...,56.139,1177.000,1177.000,1185.286,0.286,0.000,0.000,0.143,0.000,0.143
2,3,4344419.000,1855.961,3121.880,0.339,7.116,2.666,227,527,22.570,...,48.791,1177.000,1185.286,1116.000,0.000,0.000,0.000,0.000,0.143,0.143
3,4,3917329.000,1798.505,3008.836,0.328,7.168,2.762,227,450,20.766,...,46.925,1185.286,1116.000,1101.000,0.000,0.000,0.000,0.143,0.143,0.000
4,5,2812144.000,1853.243,3094.751,0.328,7.297,2.663,200,327,21.613,...,46.925,1116.000,1101.000,1101.000,0.000,0.000,0.000,0.143,0.000,0.143
5,10,3091251.000,1768.029,3145.995,0.365,5.682,2.729,227,394,24.921,...,46.925,1101.000,1101.000,1101.000,0.000,0.000,0.000,0.000,0.143,0.000
6,11,3489765.000,1742.461,3146.834,0.367,5.603,2.821,241,393,24.140,...,45.481,1101.000,1101.000,1163.286,0.000,0.000,0.000,0.143,0.000,0.143
7,12,3091999.000,1708.961,2986.984,0.359,6.311,2.618,241,387,21.524,...,44.398,1101.000,1163.286,1210.000,0.000,0.000,0.000,0.000,0.143,0.000
8,13,3405749.000,1591.263,2734.433,0.349,6.399,2.589,248,448,20.993,...,44.398,1163.286,1210.000,1210.000,0.000,0.000,0.429,0.143,0.000,0.143
9,14,3434064.000,1688.939,2875.302,0.343,6.448,2.444,247,433,21.372,...,44.398,1210.000,1210.000,1210.000,0.000,0.429,0.000,0.000,0.143,0.000
10,15,2914570.000,1643.229,2824.918,0.348,5.979,2.554,254,345,19.536,...,44.770,1210.000,1210.000,1213.286,0.429,0.000,0.000,0.143,0.000,0.143
11,16,13999216.000,1838.343,3517.360,0.421,5.986,2.310,316,1778,23.441,...,47.000,1210.000,1213.286,1233.000,0.000,0.000,0.286,0.000,0.143,0.000
12,17,4242332.000,1775.824,3036.936,0.359,6.661,2.587,276,422,17.753,...,47.000,1213.286,1233.000,1233.000,0.000,0.286,0.857,0.143,0.000,0.143
13,18,5023090.000,1807.469,3055.024,0.356,6.567,2.476,278,485,17.528,...,47.000,1233.000,1233.000,1233.000,0.286,0.857,0.000,0.000,0.143,0.000
14,19,6743389.250,1967.388,4165.562,0.437,5.021,2.700,273,575,16.833,...,47.000,1233.000,1233.000,1233.000,0.857,0.000,0.000,0.143,0.000,0.000
15,20,4599812.560,1874.096,3414.446,0.370,6.366,2.378,261,519,21.210,...,45.971,1233.000,1233.000,1065.857,0.000,0.000,0.000,0.000,0.000,0.143
16,21,3428301.500,1909.625,3412.219,0.357,5.898,2.550,237,321,17.913,...,45.800,1233.000,1065.857,1038.000,0.000,0.000,0.000,0.000,0.143,0.000
17,22,3518352.500,1848.376,3111.280,0.340,6.426,2.440,242,364,19.188,...,45.800,1065.857,1038.000,1038.000,0.000,0.000,0.000,0.143,0.000,0.143
18,23,3995708.000,1890.315,3657.410,0.395,5.774,2.739,264,404,19.202,...,45.800,1038.000,1038.000,1038.000,0.000,0.000,0.429,0.000,0.143,0.000
19,24,6523147.991,2066.659,4550.481,0.463,4.961,2.907,259,480,15.248,...,46.354,1038.000,1038.000,1044.000,0.000,0.429,1.000,0.143,0.000,0.143
20,25,4328292.000,1931.915,3701.782,0.391,5.925,2.747,275,382,17.061,...,47.093,1038.000,1044.000,1052.000,0.429,1.000,0.000,0.000,0.143,0.000
21,26,8590006.250,2161.175,4354.819,0.448,4.833,2.074,270,888,22.402,...,47.093,1044.000,1052.000,1052.000,1.000,0.000,0.000,0.143,0.000,0.143
22,27,4640222.000,1945.445,3309.431,0.355,5.939,2.438,301,426,17.907,...,47.093,1052.000,1052.000,1052.000,0.000,0.000,0.429,0.000,0.143,0.000
23,28,6628003.000,2005.687,4258.100,0.448,4.823,2.824,277,445,13.489,...,47.093,1052.000,1052.000,1052.000,0.000,0.429,0.000,0.143,0.000,0.000
24,29,4492835.000,1995.051,3855.076,0.392,5.490,2.790,279,389,17.312,...,50.327,1052.000,1052.000,1222.000,0.429,0.000,0.286,0.000,0.000,0.143
25,30,5589734.500,1936.375,3823.925,0.417,5.541,2.495,288,587,20.439,...,50.327,1052.000,1222.000,1222.000,0.000,0.286,0.143,0.000,0.143,0.000
26,31,4200190.000,1923.480,3585.778,0.382,5.698,2.650,274,382,17.563,...,50.327,1222.000,1222.000,1222.000,0.286,0.143,0.429,0.143,0.000,0.143
27,32,6627568.000,2028.846,4084.827,0.428,4.896,2.756,290,507,15.543,...,50.327,1222.000,1222.000,1222.000,0.143,0.429,0.000,0.000,0.143,0.000
28,33,4334972.000,1890.278,3526.038,0.387,5.353,2.758,294,393,17.177,...,49.207,1222.000,1222.000,1044.571,0.429,0.000,0.000,0.143,0.000,0.143
29,34,6429120.240,1984.334,3954.733,0.430,5.050,2.486,317,583,18.078,...,49.021,1222.000,1044.571,1015.000,0.000,0.000,0.429,0.000,0.143,0.000
30,35,4687026.000,1901.378,3370.114,0.369,5.767,2.542,291,424,17.236,...,49.021,1044.571,1015.000,1015.000,0.000,0.429,0.000,0.143,0.000,0.143
31,36,4181944.000,1807.470,3075.972,0.347,5.829,2.635,326,427,18.509,...,49.021,1015.000,1015.000,1015.000,0.429,0.000,0.000,0.000,0.143,0.000
32,37,6120643.000,1978.735,3735.602,0.406,5.317,2.581,323,700,22.668,...,50.224,1015.000,1015.000,1112.286,0.000,0.000,0.000,0.143,0.000,0.143
33,38,4232360.000,1898.342,3248.320,0.363,5.391,2.515,295,426,19.155,...,51.828,1015.000,1112.286,1242.000,0.000,0.000,0.000,0.000,0.143,0.000
34,39,3263433.000,1718.251,2842.833,0.346,5.684,2.543,298,559,29.639,...,51.828,1112.286,1242.000,1242.000,0.000,0.000,0.000,0.143,0.000,0.143
35,40,3303263.000,1829.333,3115.542,0.353,5.471,2.602,293,945,52.764,...,51.828,1242.000,1242.000,1242.000,0.000,0.000,0.000,0.000,0.143,0.000
36,41,3049300.000,1822.180,2969.263,0.338,5.924,2.646,310,1594,96.606,...,51.182,1242.000,1242.000,1240.000,0.000,0.000,0.000,0.143,0.000,0.143
37,42,2487778.000,1825.864,3045.855,0.351,5.732,2.515,296,1296,97.811,...,47.307,1242.000,1240.000,1228.000,0.000,0.000,0.000,0.000,0.143,0.000
38,43,1455916.000,2081.159,3377.964,0.341,4.676,2.665,203,656,94.253,...,47.307,1240.000,1228.000,1228.000,0.000,0.000,0.000,0.143,0.000,0.143
39,44,5414557.000,1814.789,3077.531,0.367,6.002,2.589,392,1658,56.242,...,47.307,1228.000,1228.000,1228.000,0.000,0.000,0.000,0.000,0.143,0.000
40,45,3347099.000,1824.552,3095.354,0.366,5.190,2.484,296,353,19.290,...,47.307,1228.000,1228.000,1228.000,0.000,0.000,0.429,0.143,0.000,0.000
41,46,3287068.000,1815.414,3043.434,0.354,5.201,2.583,297,346,19.148,...,49.600,1228.000,1228.000,1203.714,0.000,0.429,0.000,0.000,0.000,0.143
42,47,3037070.000,1852.072,3024.177,0.339,5.016,2.612,281,338,20.635,...,50.517,1228.000,1203.714,1194.000,0.429,0.000,0.000,0.000,0.143,0.000
43,48,3605013.000,2054.769,3500.731,0.367,4.275,2.482,261,373,21.339,...,50.517,1203.714,1194.000,1194.000,0.000,0.000,0.000,0.143,0.000,0.143
44,49,3176031.000,1982.043,3281.868,0.340,5.052,2.655,300,318,19.863,...,50.517,1194.000,1194.000,1194.000,0.000,0.000,0.000,0.000,0.143,0.000
45,50,3214266.000,1869.164,3014.099,0.317,5.694,2.567,272,339,19.790,...,50.517,1194.000,1194.000,1194.000,0.000,0.000,0.000,0.143,0.000,0.000
46,51,3220357.000,1947.993,3051.255,0.304,5.078,2.683,281,366,22.290,...,0.000,1194.000,1194.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
47,52,2807030.000,2074.617,3348.654,0.318,4.288,2.540,226,270,19.985,...,0.000,1194.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
48,53,1471519.000,2060.569,3288.135,0.311,4.025,2.551,179,120,16.830,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [223]:
ha_week.head(10)

,week,gmv,listing_price,product_mrp,discount,sla,product_procurement_sla,fsn_id,order_payment_type,online_order_perc,...,lag_3_NPS,lag_1_Stock_Index,lag_2_Stock_Index,lag_3_Stock_Index,lag_1_Special_sales,lag_2_Special_sales,lag_3_Special_sales,lag_1_Payday,lag_2_Payday,lag_3_Payday
0,1,83742.000,2392.629,4369.057,0.397,2.943,3.486,19,34,97.143,...,54.600,1177.000,1177.000,1177.000,0.000,0.286,0.000,0.000,0.143,0.000
1,2,3725167.133,1845.875,2971.504,0.326,7.454,2.751,202,464,23.062,...,56.139,1177.000,1177.000,1185.286,0.286,0.000,0.000,0.143,0.000,0.143
2,3,4344419.000,1855.961,3121.880,0.339,7.116,2.666,227,527,22.570,...,48.791,1177.000,1185.286,1116.000,0.000,0.000,0.000,0.000,0.143,0.143
3,4,3917329.000,1798.505,3008.836,0.328,7.168,2.762,227,450,20.766,...,46.925,1185.286,1116.000,1101.000,0.000,0.000,0.000,0.143,0.143,0.000
4,5,2812144.000,1853.243,3094.751,0.328,7.297,2.663,200,327,21.613,...,46.925,1116.000,1101.000,1101.000,0.000,0.000,0.000,0.143,0.000,0.143
5,10,3091251.000,1768.029,3145.995,0.365,5.682,2.729,227,394,24.921,...,46.925,1101.000,1101.000,1101.000,0.000,0.000,0.000,0.000,0.143,0.000
6,11,3489765.000,1742.461,3146.834,0.367,5.603,2.821,241,393,24.140,...,45.481,1101.000,1101.000,1163.286,0.000,0.000,0.000,0.143,0.000,0.143
7,12,3091999.000,1708.961,2986.984,0.359,6.311,2.618,241,387,21.524,...,44.398,1101.000,1163.286,1210.000,0.000,0.000,0.000,0.000,0.143,0.000
8,13,3405749.000,1591.263,2734.433,0.349,6.399,2.589,248,448,20.993,...,44.398,1163.286,1210.000,1210.000,0.000,0.000,0.429,0.143,0.000,0.143
9,14,3434064.000,1688.939,2875.302,0.343,6.448,2.444,247,433,21.372,...,44.398,1210.000,1210.000,1210.000,0.000,0.429,0.000,0.000,0.143,0.000

In [224]:
# ca_week.to_csv('ca_week.csv')

In [225]:
# ga_week.to_csv('ga_week.csv')

In [226]:
# ha_week.to_csv('ha_week.csv')